.cartCounter {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;

  .btns {
    position: absolute;
    top: 17%;
    right: 5%;
    display: flex;
    align-items: center;
    gap: 5px;

    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: grid;
      place-content: center;
      border: none;
      background-color: var(--special-background);
      cursor: pointer;
      outline: none;
    }

    &.ar {
      right: unset;
      left: 5%;
    }
  }

  input {
    height: 45px;
    border: 1px solid var(--heavy-border);
    outline: none;
    width: 150px;
    padding: 0 15px;
    border-radius: 5px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}