.modeSwitch {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  i {
    font-size: 18px;
    color: var(--main-color);
  }

  &:hover {
    background-color: var(--main-color);

    i {
      color: #fff;
    }
  }

}