.container {
  width: auto;
  height: auto;

  .wrapper {
    overflow: hidden;
    background-color: var(--default-background) !important;

    img {
      background-position: 0% 0%;
      object-fit: cover;
      height: 100%;
      width: 100%;
      cursor: crosshair;
    }
  }
}