.customSelect {
  position: relative;

  button {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.95rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-background);
  }

  .dropdown {
    background-color: var(--secondary-background);
    padding: 20px 10px 10px;
    position: absolute;
    top: 130%;
    z-index: 99;
    width: 100%;
    box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: none;

    &.opened {
      display: inline-block;
    }

    &:after {
      content: '';
      position: absolute;
      top: -8px;
      z-index: 999;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 8px solid var(--secondary-background);
    }

    ul {
      li {
        padding: 5px;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;
        display: flex;
        gap: 8px;
        font-size: 0.9rem;

        label {
          cursor: pointer;
        }

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
}