@import "../../../styles/mixins.scss";
.banner {
    transition: box-shadow 0.35s;
    position: relative;
    font-size: 16px;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;

    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    figure {
        margin: 0;
        width: 100%;

        img {
            height: 170px;
            object-fit: cover;
            @include md {
                height: 170px !important;
            }
        }
    }

    .bannerLayer {
        padding-bottom: 1px;
        position: absolute;
        left: 7.143%;
        right: 5.6%;
        text-align: right !important;

        h3 {
            font-size: 24px;
            color: var(--text-dark);
            line-height: 1;
            margin-bottom: 8px !important;
            text-align: right !important;

        }

        h4 {
            padding-bottom: 3px;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 30px !important;
            text-align: right !important;
            color: #ff7272;
        }

        a {
            font-size: 12px;
            font-weight: 700;
            color: var(--text-dark);
        }
    }
}