.gallery {
    margin-top: 41px;

    h3 {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-transform: none;
        font-weight: 600;
        text-align: center !important;
    }

    h6 {
        margin-bottom: 32px;
        color: rgba(119, 119, 119, 0.7);
        letter-spacing: 0.005em;
        text-align: center !important;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.385;
    }

    a {
        display: block;
        position: relative;
        padding: 20px 10px;

        img {
            display: block;
            width: 100%;
        }

        &::after {
            display: flex;
            position: absolute;
            top: 20px;
            right: 10px;
            bottom: 20px;
            left: 10px;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            background-color: rgba(0, 0, 0, 0.46);
            color: #f1f1f1;
            font-family: "porto";
            font-size: 3.2rem;
            content: "";
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}