.swiper {
    padding: 29px 0 19px;

    .title {
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 20px;
        position: relative;

        h2 {
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            line-height: 24px;
            padding: 0 12px 7px;
            border-bottom: 3px solid var(--main-color);
            margin: 0;
            color: var(--text-dark)
        }

        .prev {
            position: absolute;
            top: 0;
            bottom: auto;
            left: auto;
            right: 29px;
            background-color: var(--background-light);
            height: 24px;
            width: 24px;
            text-align: center !important;
            color: var(--text-color);

            &:hover {
                background-color: var(--bg-dark-color);
                color: var(--text-light);
            }
        }

        .next {
            position: absolute;
            top: 0;
            bottom: auto;
            left: auto;
            right: 0;
            background-color: var(--background-light);
            height: 24px;
            width: 24px;
            text-align: center !important;
            color: var(--text-color);

            &:hover {
                background-color: var(--bg-dark-color);
                color: var(--text-light);
            }
        }
    }

    &.ar {
        .title {
            .prev {
                right: auto;
                left: 29px;
                i {
                    transform: rotateY(180deg);
                }
            }
            
            .next {
                left: 0;
                right: auto;
                i {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    :global(.swiper-slide) {
        margin-bottom: 41px;
    }
}