@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";

.banner {
    position: relative;
    font-size: 16px;
    min-height: 200px;
    background-image: url("../../../public/imgs/sale/sale-74-1.jpg");
    background-attachment: fixed;
    padding: 10em 0;
    text-align: center !important;

        h3 {
            padding-bottom: 16px;
            font-size: 40px;
            margin-bottom: 24px;
            line-height: 1;
            color: #fff;
            text-transform: uppercase;
            text-align: center !important;
        }

        img {
            width: auto;
            padding-bottom: 16px;
            margin-bottom: 24px;
        }

        a {
            padding: 1.3em 3.25em;
            color: #282d3b;
            background-color: #fff;
            border-color: #fff #fff #fff;
            font-size: 12px;
            letter-spacing: 0.2em;
            line-height: 1.43;
        }
}