@import "../../../styles/mixins.scss";

.bannersContainer {
    margin-bottom: 40px;
    .banners {
        height: 100%;
        margin-top: 0 !important;
    
        .banner {
            &:first-of-type {
                margin-bottom: 24px;
                @include xs {
                }
            }
            @include xs {
                margin-bottom: 24px;
            }
        }
    }
    .bannerOne {
        @include md {
            margin-bottom: 24px;
        }
    }
}