@import "../../../styles/mixins.scss";
.category {
    padding: 0 30px;
@include md {
    padding: 0 15px;
}
    &:hover {
        figure {
            &::after {
                background-color: rgba(27,27,23,0.15);
            }
        }
    }

    figure {
        margin-bottom: 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border: 2px solid #e7e7e7;
            display: block;
            width: 70%;
            height: 70%;
            top: 50%;
            left: 50%;
            border-radius: 1.4rem;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .categoryContent {
        padding: 8px;
        display: flex;
        display: -ms-flex-box;
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
        -ms-flex-align: center;

        h3 {
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            text-align: center;
            margin: -6px 0 13px;
            color: var(--text-dark);
        }

        ul {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.005em;
            line-height: 25px;
            text-align: center !important;

            li {
                text-align: center !important;
            }
        }

    }

}