@import "../../../styles/mixins.scss";

.infoBox {
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7e7;
}

.features {
    border-top: 1px solid #e7e7e7;
}

.seprator {
    border: none;
    border-top: 1px solid #e7e7e7;
}