@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../../styles/mixins.scss";

.banner {
    position: relative;
    font-size: 16px;
    margin-bottom: 20px !important;

    img {
        width: 100%;
        object-fit: cover;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .bannerLayer {
        right: 12%;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        position: absolute;
        text-align: right !important;
        font-size: 16px;
        color: var(--text-dark);

        h3 {
            margin-right: -0.2em;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.2em;
            line-height: 1;
            text-transform: uppercase !important;
            margin-bottom: 0 !important;
            @include xs {
                font-size: 16px;

            }
        }

        h4 {
            margin-right: 0.06em;
            font-size: 150px;
            line-height: 1;
            @include xs {
                font-size: 75px;

            }

            i {
                font-family: 'Playfair Display', serif;
            }

            small {
                position: relative;
                top: -0.375em;
                vertical-align: text-bottom;
                font-size: 20%;
            }
        }

        h5 {
            margin: -26px 0 28px;
            padding-bottom: 8px;
            font-size: 40px;
            letter-spacing: -0.02em;
            text-align: right !important;
            line-height: 1;
            @include xs {
                margin: -26px 0 10px;
                font-size: 24px;

            }
        }

        .btn {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.15em;
            line-height: 1.3333;
            border-color: var(--text-dark);
            background-color: var(--text-dark);
            color: var(--text-light);
            box-shadow: none;
            padding: 20px 50px;
            @include xs {
                padding: 10px 20px;

            }
        }
    }
}