.footerMiddle {
    padding: 66px 0 15px 0;

    .widget {

        .widgetTitle {
            color: #222529 !important;
            font-size: 15px;
            font-weight: 600;
            font-family: Poppins, sans-serif;
            text-transform: uppercase;
            margin: 0 0 13px;

            &.fontWeightBold {
                font-weight: 700 !important;
            }
        }

        .logo {
            width: 200px;
            max-width: 100%;
            display: block;
        }

        .readMore {
            display: inline-block;
            font-size: 13px;
            font-weight: 600;
            line-height: 24px;
            color: #222529;
            margin: 0 5px;
            text-decoration: underline;
        }

        p {
            margin-bottom: 32px;
        }

        li {
            a {
                color: #a8a8a8;

                &:hover {
                    color: var(--hover-color);
                }
            }
        }

        .contactInfo {
            li {
                position: relative;
                margin-bottom: 10px;
                line-height: 1.4;

                .contactInfoLabel {
                    display: block;
                    color: #2c2e32;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

                &:last-child {
                    margin-bottom: 1.8rem;
                }
            }
        }

        .socialIcon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            opacity: 1;
            margin-left: 2px;
            line-height: 38px;
            border: 1px solid transparent;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 16px;

            &:not(:hover):not(:active):not(:focus) {
                background-color: transparent;
                border: 1px solid #cecdca;
                color: #222529;
            }

            &::before,
            [class^="icon-"]::before {
                font-family: "porto";
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            &:hover {
                color: #fff;
                text-decoration: none;
                opacity: 0.85;
            }

            &.iconFacebook {
                &::before {
                    content: "";
                }

                &:hover {
                    background-color: #3b5a9a;
                }
            }

            &.iconTwitter {
                &::before {
                    content: "";
                }

                &:hover {
                    background-color: #1aa9e1;
                }
            }

            &.iconLinkedin {

                &::before,
                [class^="icon-"]::before {
                    content: "\f0e1";
                    font-family: "Font Awesome 6 Brands";
                    moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                }

                &:hover {
                    background-color: #0073b2;
                }

            }
        }


        .product {
            display: flex;
            margin-bottom: 18px;
            padding-top: 2px;

            figure {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-right: 20px;
                max-width: 84px;
                width: 84px;
                margin-bottom: 0;
            }

            .details {

                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.07px;
                    line-height: 14px;
                    margin-bottom: 8px;
                    margin-top: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    svg {
                        color: #b9b9b9;
                        width: 15px;
                        height: 15px;
                    }
                }

                .price {
                    color: #222529;
                }
            }

        }

        .twitterFeed {
            .icon {
                display: inline-block !important;
                vertical-align: top !important;
                color: #222529;

                i {
                    font-size: 23px;
                    margin-right: 3px;
                }
            }

            p {
                margin: -1px 0 0 2px;
                line-height: 2;
                display: inline-block;
                color: #878787;
                font-size: 13px;
                font-weight: 400;

                a {
                    color: #b4b3b1;
                    font-size: 11.7px;
                    font-weight: 400;
                    line-height: 23.4px;
                    opacity: 0.5
                }
            }
        }


    }

    .links {
        border-top: 1px solid #cecdca;
        padding-top: 42px;
        padding-bottom: 9px;
        margin-top: 50px;
    }
}