@import '../../../styles/mixins.scss';

.categories {
  margin: 20px 0;

  h2 {
    font-size: 1.4rem;
    text-align: center !important;
    margin-bottom: 30px;
  }

  .category {
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 2rem;
      width: 150px;
      height: 75px;
      background-color: var(--border-color);
      border-radius: 50% / 100% 100% 0% 0%;
      display: grid;
      place-content: center;
      opacity: 0.8;
    }

    h6 {
      text-align: center !important;
      margin-top: 10px;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    p {
      text-align: center !important;
      font-size: 0.8rem;
      color: var(--main-color);
      margin-top: 0px;
      margin-bottom: 20px;
    }

    &:hover {
      img {
        padding: 5px;
      }
    }
  }
}