@import '../../../styles/mixins.scss';
@import '../../../styles/extends.scss';

.homeCategory {
  .homeCategory__wrapper {
    .homeCategory__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      margin-bottom: 10px;
      position: relative;
      border-bottom: 1px solid var(--heavy-border);
      @include sm {
        display: block;
        padding-bottom: 10px;
      }

      h4 {
        display: flex;
        span {
          position: absolute;
          bottom: -2px;
          height: 3px;
          background-color: var(--main-color);
          width: 100px;
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        span {
          padding: 5px 20px;
          cursor: pointer;
          border-radius: 20px;
          font-size: 0.9rem;
          &.active {
            border: 2px solid var(--main-color);
          }
        }
      }
    }

    .homeCategory__products {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 5px;
      .side {
        grid-column: span 2;
        @include lg {
          grid-column: span 4;
        }
        @include md {
          grid-column: span 3;
        }
      }
      .center {
        grid-column: span 4;
        grid-row: span 6;
        background-color: var(--default-background);
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .centerOffer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;

          span,
          h3 {
            text-align: center !important;
          }

          img {
            max-height: 350px;
          }

          .addToCart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .price {
              display: flex;
              align-items: flex-end;
              span {
                text-decoration: line-through;
              }
            }

            button {
              @extend %mainBtn;
            }
          }
        }
        @include md {
          grid-column: span 6;
        }
      }
      @include lg {
        .side {
          &:nth-of-type(1),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(8) {
            display: none;
          }
        }
      }
      @include sm {
        .side {
          grid-column: span 6;
        }
        .center {
          display: none;
        }
      }
      @include xs {
        .side {
          grid-column: span 12;
        }
      }
    }
  }
}