@import url('https://fonts.cdnfonts.com/css/savoye-let');
$sliderOneColor1: #222529;
$sliderOneColor2: #fff;
$sliderTwoColor1: #999;
$sliderTwoColor2: #222529;
$sliderOneBadge: #ff7272;

.slider {
    img {
        min-height: 499px;
        object-position: 55%;
        object-fit: cover;
        max-width: 100%;
    }

    .slide1 {
        position: relative;


        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 8.7%;
            right: 30%;
            top: 20%;

            h4 {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.08em;
                opacity: 0.7;
                padding-bottom: 14px;
                color: $sliderOneColor1;
                margin: 0;
            }

            h2 {
                font-size: 44px;
                letter-spacing: 0.002em;
                color: $sliderOneColor1;
                font-family: 'Savoye LET', sans-serif;
                line-height: 1;
                margin: 0;
            }

            h3 {
                font-size: 76px;
                margin-bottom: 16px !important;
                line-height: 1;
                color: $sliderOneColor1;
                text-transform: uppercase !important;
            }

            h5 {
                margin-right: -2px;
                font-size: 11px;
                margin-top: -4px;
                line-height: 1;
                color: $sliderOneColor1;
                display: inline-block !important;
                text-transform: uppercase !important;
                margin: 0;
                vertical-align: text-bottom !important;

                b {
                    color: $sliderOneColor2;
                    background-color: $sliderOneBadge;
                    position: relative;
                    padding: 4px 8px;
                    margin: 0 6px 0 12px;
                    font-size: 15px;
                    transform: rotate(-2deg);
                    display: inline-block;
                    font-weight: 700;


                    em {
                        font-size: 29px;
                        font-style: normal;
                        vertical-align: text-top !important;
                    }

                }
            }

            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: #fff;
                box-shadow: none;
                font-size: 14px;
                padding: 16px 40px;
            }
        }
    }

    .slide2 {
        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 52%;
            right: 13%;
            top: 20%;
            text-transform: uppercase !important;

            .mxAuto {
                margin-left: auto !important;
                margin-right: auto !important;
                width: max-content;

                h4 {
                    color: $sliderTwoColor1;
                    font-size: 34px;
                    font-weight: 500;
                    margin: 0 auto 4px;
                }

                h3 {
                    font-size: 69px;
                    line-height: 1;
                    color: $sliderTwoColor2;
                    font-weight: 700;
                    margin: 0 auto 20px;
                    display: flex;
                    display: -ms-flexbox;
                    align-items: center;
                    -ms-flex-align: center;

                    &:last-of-type {
                        font-size: 34px;
                        line-height: 1;
                        color: $sliderTwoColor2;
                        font-weight: 700;
                        margin: 0 auto 20px;
                        display: flex;
                        display: -ms-flexbox;
                        align-items: center;
                        -ms-flex-align: center;

                        &::before {
                            content: "";
                            margin: 0 8px;
                            flex: 1;
                            -ms-flex: 1;
                            height: 0;
                            border-top: 7px solid $sliderTwoColor2;
                        }

                        &::after {
                            content: "";
                            margin: 0 8px;
                            flex: 1;
                            -ms-flex: 1;
                            height: 0;
                            border-top: 7px solid $sliderTwoColor2;
                        }
                    }

                }

                h2 {
                    font-size: 40px;
                    font-family: "Savoye LET";
                    text-transform: none;
                    color: $sliderTwoColor2;
                }

                .btn {
                    border-color: var(--text-dark);
                    background-color: var(--text-dark);
                    color: #fff;
                    display: block;
                    text-align: center !important;
                    font-weight: 600;
                    line-height: 1.429;
                    letter-spacing: 0.15em;
                    box-shadow: none;
                    font-size: 16px;
                    padding: 16px 26px;
                }
            }

        }
    }

    :global(.swiper-button-prev) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        left: 0px;
        display: none;
        text-align: center !important;

        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
        }
    }

    :global(.swiper-button-next) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        right: 0px;
        display: none;
        text-align: center !important;

        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
        }

    }

    &:hover {
        :global(.swiper-button-prev) {
            display: block;
        }

        :global(.swiper-button-next) {
            display: block;
        }
    }
}