@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";

$sliderOneColor1: var(--text-dark);
$sliderOneColor2: var(--text-light);
$sliderTwoColor1: var(--text-color);
$sliderTwoColor2: var(--text-dark);
$sliderOneBadge: #ff7272;

.slider {
    background: #9C9895;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 63px;
    img {
        height: 600px;
        max-height: 100vh;
        object-position: 55%;
        object-fit: cover;
        max-width: 100%;

        @include sm {
            min-height: 350px;
        }

        @include xs {
            min-height: 250px;
        }
    }

    .slide1 {
        position: relative;


        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 8.7%;
            right: 30%;
            top: 20%;

            @include xs {
                top: 10%;
                right: 10%;
            }

            h4 {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.08em;
                opacity: 0.7;
                padding-bottom: 14px;
                color: $sliderOneColor1;
                margin: 0;

                @include xs {
                    font-size: 14px;
                }
            }

            h2 {
                font-size: 44px;
                letter-spacing: 0.002em;
                color: $sliderOneColor1;
                font-family: 'Savoye LET', sans-serif;
                line-height: 1;
                margin: 0;

                @include sm {
                    font-size: 30px;
                }
            }

            h3 {
                font-size: 76px;
                margin-bottom: 16px !important;
                line-height: 1;
                color: $sliderOneColor1;
                text-transform: uppercase !important;

                @include sm {
                    font-size: 60px;
                }

                @include xs {
                    font-size: 40px;
                }
            }

            h5 {
                margin-right: -2px;
                font-size: 11px;
                margin-top: -4px;
                line-height: 1;
                color: $sliderOneColor1;
                display: inline-block !important;
                text-transform: uppercase !important;
                margin: 0;
                vertical-align: text-bottom !important;

                b {
                    color: $sliderOneColor2;
                    background-color: $sliderOneBadge;
                    position: relative;
                    padding: 4px 8px;
                    margin: 0 6px 0 12px;
                    font-size: 15px;
                    transform: rotate(-2deg);
                    display: inline-block;
                    font-weight: 700;


                    em {
                        font-size: 29px;
                        font-style: normal;
                        vertical-align: text-top !important;
                    }

                }

                @include xs {
                    display: none !important;
                }

            }

            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: var(--text-light);
                box-shadow: none;
                font-size: 14px;
                padding: 16px 40px;

                @include sm {
                    display: inline-block;
                    padding: 8px 20px;
                    margin-top: 15px;

                }

            }
        }
    }

    .slide2 {
        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 52%;
            right: 13%;
            top: 20%;
            text-transform: uppercase !important;

            @include sm {
                top: 10%;
                right: 5%;
                left: 20%;
            }

            .mxAuto {
                margin-left: auto !important;
                margin-right: auto !important;
                width: max-content;

                @include sm {
                    margin-right: 0 !important;
                }

                h4 {
                    color: $sliderTwoColor1;
                    font-size: 34px;
                    font-weight: 500;
                    margin: 0 auto 4px;

                    @include sm {
                        font-size: 26px;
                    }

                    @include xs {
                        font-size: 16px;
                    }
                }

                h3 {
                    font-size: 69px;
                    line-height: 1;
                    color: $sliderTwoColor2;
                    font-weight: 700;
                    margin: 0 auto 20px;
                    display: flex;
                    display: -ms-flexbox;
                    align-items: center;
                    -ms-flex-align: center;

                    @include sm {
                        font-size: 50px;
                    }

                    @include xs {
                        font-size: 30px;
                    }

                    &:last-of-type {
                        font-size: 34px;
                        line-height: 1;
                        color: $sliderTwoColor2;
                        font-weight: 700;
                        margin: 0 auto 20px;
                        display: flex;
                        display: -ms-flexbox;
                        align-items: center;
                        -ms-flex-align: center;

                        @include sm {
                            font-size: 20px;
                        }

                        @include xs {
                            font-size: 14px;
                            margin: 0 auto 10px;

                        }

                        &::before {
                            content: "";
                            margin: 0 8px;
                            flex: 1;
                            -ms-flex: 1;
                            height: 0;
                            border-top: 7px solid $sliderTwoColor2;
                        }

                        &::after {
                            content: "";
                            margin: 0 8px;
                            flex: 1;
                            -ms-flex: 1;
                            height: 0;
                            border-top: 7px solid $sliderTwoColor2;
                        }
                    }

                }

                h2 {
                    font-size: 40px;
                    font-family: "Savoye LET";
                    text-transform: none;
                    color: $sliderTwoColor2;

                    @include sm {
                        font-size: 36px;
                    }

                    @include xs {
                        font-size: 26px;
                        line-height: 1;
                    }
                }

                .btn {
                    border-color: var(--text-dark);
                    background-color: var(--text-dark);
                    color: var(--text-light);
                    display: block;
                    text-align: center !important;
                    font-weight: 600;
                    line-height: 1.429;
                    letter-spacing: 0.15em;
                    box-shadow: none;
                    font-size: 16px;
                    padding: 16px 26px;

                    @include xs {
                        font-size: 12px;
                        padding: 8px 16px;
                    }
                }
            }

        }
    }

    :global(.swiper-button-prev) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        left: 0px;
        display: none;
        text-align: center !important;

        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
        }
    }

    :global(.swiper-button-next) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        right: 0px;
        display: none;
        text-align: center !important;

        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
        }

    }

    &:hover {
        :global(.swiper-button-prev) {
            display: block;
        }

        :global(.swiper-button-next) {
            display: block;
        }
    }

    &.ar {
        img {
            transform: rotateY(180deg);
        }

        .slide1 {
            .bannerLayer {
                right: 8.7%;
                left: 30%;
            }
        }

        .slide2 {
            .bannerLayer {
                right: 52%;
                left: 13%;
            }
        }
        :global(.swiper-button-prev) {
            left: auto;
            right: -16px;
        }
        :global(.swiper-button-next) {
            left: -16px;
            right: auto;
        }
    }
}