@import '../../../../styles/mixins.scss';

.categoriesList {
  grid-column: span 2;
  grid-row: span 6;
  padding: 20px 0;
  li {
    padding: 5px 10px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 0.9rem;
    }
    &:hover {
      color: var(--main-color);
      font-weight: 600;
    }
  }

  @include md {
    display: none;
  }
}