@import '../../styles/extends.scss';

.headerTop {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #bde1f5;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.017em;

    a {
        color: inherit
    }

    ;

    .topMessage {
        margin-right: 3.8rem;
        font-size: 11px;
    }

    ;

    .headerLeft,
    .headerRight {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    ;

    .headerDropdowns {

        display: flex;
        display: -ms-flexbox;
        align-items: center;
        -ms-flex-align: center;

        ul {
            @media screen and (min-width: 992px) {
                
                transform: none;
                position: static;
                display: flex;
                display: -ms-flexbox;
                padding: 0;
                border: 0;
                background-color: transparent;
                box-shadow: none;
                opacity: 1;
                visibility: visible;

                li+li {
                    margin-left: 30px;
                }
            }
        }

        ;

        .separator {
            height: 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.18);
            margin: 0 1rem 0 1.5rem;
        }

        ;

        .socialIcon {
            border-radius: 50%;
            font-size: 13px;
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center !important;

            &:hover {
                color: #fff;
                text-decoration: none;
                opacity: 0.85;

                &.socialFacebook {
                    background-color: #3b5a9a;
                }

                ;

                &.socialTwitter {
                    background-color: #1aa9e1;
                }

                &.socialInstagram {
                    background-color: #7c4a3a;
                }

            }

        }

    }
}

.bgPrimary {
    background-color: var(--main-color) !important
}