@import '../../../../styles/mixins.scss';

.singleCategory {
  max-width: 500px;
  margin: auto;
  cursor: pointer;
  h5 {
    font-size: 0.9rem;
  }
  .wrapper {
    border: 1px solid var(--border-color);
    padding: 0px 0px;
    background-color: var(--secondary-background);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
    p {
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0 20px;
    }

    .subCats {
      display: flex;
      justify-content: space-between;

      .subCatsList {
        border: 1px solid var(--border-color);
        padding: 10px;
        border-left: 0;
        min-width: 150px;
        ul {
          list-style: circle;
          padding: 0 0 0 20px;
          li {
            padding: 5px 0;
            font-size: 0.8rem;
            &:hover {
              color: var(--main-color);
            }
          }
        }
        &.ar {
          border-right: 0;
          border-left: 1px solid var(--border-color);
          ul {
            padding: 0 20px 0 0px;
          }
        }
      }

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .mainImage, .secondImage {
          height: 250px;
          width: 250px;
          object-fit: contain;
        }
        .secondImage {
          display: none;
        }
        h5 {
          display: flex;
          align-items: center;
          p {
            padding: 0;
          }
          span {
            color: var(--main-color);
            font-size: 1.3rem;
          }
        }
      }

      @include xs {
        flex-direction: column;
        .subCatsList {
          border: unset;
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
        }
      }
    }
  }
}