@import url('https://fonts.cdnfonts.com/css/savoye-let');

.banner {
    margin-top: 20px;
    margin-bottom: 35px;
    position: relative;
    font-size: 16px;

    img {
        min-height: 150px;
        object-fit: cover;
        width: 100%;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .bannerLayer {
        left: 15px;
        right: 15px;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        h3 {
            font-size: 35px;
            line-height: 1.2;
            text-transform: uppercase !important;
            color: var(--text-dark);
        }

        h4 {
            margin-bottom: 14px;
            color: var(--text-dark);
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;

            b {
                font-weight: 600;
                display: block;
                font-size: 23px;
                line-height: 1.5;
            }
        }

        a {
            border-color: var(--main-color);
            background-color: var(--main-color);
            text-transform: uppercase;
            color: #fff;
            box-shadow: none;
            padding: 8px 20px;
            font-size: 12px;
        }
    }


}