.categoriesCarousel {
    background-color: var(--main-color) !important;
    padding-top: 48px;
    padding-bottom: 60px;
    margin-bottom: 47px;

    .title {
        color: #fff;
        text-align: center !important;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        -ms-flex-align: center;
        margin-bottom: 18px;

        &::before {
            content: "";
            margin: 0 8px;
            flex: 1;
            -ms-flex: 1;
            height: 1px;
            border-top: 1px solid #fff;
            opacity: 0.5;
        }

        &::after {
            content: "";
            margin: 0 8px;
            flex: 1;
            -ms-flex: 1;
            height: 1px;
            border-top: 1px solid #fff;
            opacity: 0.5;
        }
    }
}