@import "../../../styles/mixins.scss";
@import "../../../styles/extends.scss";

.navbar {
  .navbar__search {
    background-color: var(--main-color);
    margin-bottom: 50px;
    .search__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 5px 0px;
      .smallLogo {
        display: none;
      }
      .switches {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .navbar__search__searchArea {
        input {
          width: 650px;
          height: 40px;
          padding: 8px 20px;
          border: 1px solid var(--main-color);
          outline: none;
          font-size: 0.9rem;
        }
        button {
          height: 40px;
          width: 50px;
          background-color: #000;
          text-align: center !important;
          color: #fff;
          cursor: pointer;
          position: relative;
          top: 1px;
        }
        @include lg {
          input {
            width: 450px;
          }
        }
        &.rounded {
          input {
            border-radius: 20px 0 0 20px;
          }
          button {
            border-radius: 0 20px 20px 0;
          }
          &.ar {
            input {
              border-radius: 0px 20px 20px 0px;
            }
            button {
              border-radius: 20px 0px 0px 20px;
            }
          }
        }
      }
      .navbar__search__account {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 15px;
        i {
          color: #fff;
          font-size: 1.3rem;
          cursor: pointer;
        }
        span {
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          height: 50px;
          display: flex;
          align-items: center;
        }

        .wishlist,
        .cart {
          position: relative;
          @keyframes show {
            0% {
              opacity: 0;
              transform: translateY(30px);
            }
            100% {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
      }
      @include md {
        .smallLogo {
          display: inline;
          color: #fff;
          display: flex;
          gap: 15px;
          align-items: center;
          i {
            cursor: pointer;
            font-size: 1.2rem;
          }
        }
        .switches {
          display: none;
        }
        .navbar__search__searchArea {
          display: none;
        }
      }
      @include xs {
        .navbar__search__account {
          gap: 15px;
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
