.wrapper {
  margin: 50px 0;
  h5 {
    padding: 10px 0;
    text-align: center !important;
    margin-bottom: 20px;
  }
  .collection {
    background-color: var(--secondary-background);
    padding: 0 3px;
  }
}