.offerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    position: relative;
    border-bottom: 1px solid var(--heavy-border);
    display: flex;
    padding-bottom: 7px;
    span {
      position: absolute;
      bottom: -2px;
      width: 100px;
      height: 3px;
      left: 50%;
      translate: -50%;
      background-color: var(--main-color);
    }
  }
  .sympol {
    font-size: 6rem;
  }
}