.post {

    .postDate {
        color: var(--main-color);
        font-size: 13px;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
    }

    .postBody {
        .postTitle {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: normal;
            line-height: 20.8px;
            margin-bottom: 16px;
            margin-top: 0px;
            text-align: left;
            color: var(--text-dark);

            a {
                color: var(--text-dark);

            }
        }

        .postContent {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.07px;
            line-height: 26px;
            text-align: left;

            .readMore {
                display: inline-block;
                float: none;
                margin-top: 1.6rem;
                color: var(--text-dark);
                font-family: Poppins, sans-serif;
                font-size: 0.8571em;
                font-weight: 600;
                text-transform: uppercase;
                &.ar {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}