.sales {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;

  .small {
    grid-column: span 4;
    grid-row: span 1;
  }

  .big {
    grid-column: span 4;
    grid-row: span 2;
  }
}