@import '../../../styles/mixins.scss';

.secondPart {
  margin-top: 20px;
}

.section {
  margin: 40px 0 20px;
}

.sales {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-auto-rows: auto;
  & > div:first-of-type {
    grid-column: span 3;
  }
  & > div:nth-of-type(2) {
    grid-column: span 6;
  }
  & > div:nth-of-type(3) {
    grid-column: span 3;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include md {
      grid-column: span 6 !important;
      &:nth-of-type(2) {
        display: none;
      }
    }
    @include sm {
      grid-column: span 12 !important;
      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}