.banner {
    transition: box-shadow 0.35s;
    position: relative;
    font-size: 16px;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;

    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    figure {
        margin: 0;
        width: 100%;

        img {
            height: 170px;
            object-fit: cover;
        }
    }

    .bannerLayer {
        padding-bottom: 1px;
        position: absolute;
        left: 7.143%;
        right: 7.143%;

        h3 {
            font-size: 24px;
            color: var(--text-dark);
            line-height: 1;
            margin-bottom: 8px !important;
        }

        h4 {
            padding-bottom: 1px;
            font-size: 29px;
            font-weight: 800;
            line-height: 1;
            margin-bottom: 24px !important;
            color: var(--main-color);

            sup {
                top: -7px;
                font-size: 70%;
                font-weight: 700;

                &:first-of-type {
                    color: var(--text-dark);
                }

                position: relative;
                line-height: 0;
                vertical-align: baseline;

                del {
                    margin-right: 2px;
                }

            }

        }

        a {
            font-size: 12px;
            font-weight: 700;
            color: var(--text-dark);
        }
    }
}