@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/extends.scss";
@import "../../../styles/mixins.scss";
$sliderOneColor: var(--text-light);
$sliderTwoColor1: #777;
$sliderTwoColor2: var(--text-dark);
$sliderOneBadge: #ff7272;

.slider {

    .wrapper {
        position: relative;

        .slide {
            min-height: 550px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
            }

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                span {
                    background-color: var(--secondary-color);
                    color: var(--text-inside);
                    padding: 3px 10px;
                    border-radius: 5px;
                    font-size: 0.9rem;
                }

                h2 {
                    text-align: center !important;
                    font-size: clamp(2rem, 6vw, 3.5rem);
                    font-weight: 600;
                }

                button {
                    @extend %flatBtn;

                    i {
                        font-size: 1.1rem;
                        margin: 0 3px;
                    }
                }
            }
        }
    }

    :global(.swiper-pagination) {
        margin: 16px 5.5% 0;
        position: absolute;
        bottom: 10%;

        @include xs {
            bottom: 5%;
        }

        :global(.swiper-pagination-bullet) {
            border: 2px solid var(--text-dark);
            width: 14px;
            height: 14px;
            background: transparent;
            opacity: 1;
            position: relative;

            &:hover {
                border: 2px solid var(--text-dark);
            }

            &:global(.swiper-pagination-bullet-active) {
                border: 2px solid var(--text-dark);

                &::before {
                    width: 4px;
                    height: 4px;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    background-color: var(--text-dark);
                    transition: all 0.3s;
                    border-radius: 50%;
                }
            }
        }
    }

    &.ar {
        img {
            transform: rotateY(180deg);
        }

        :global(.swiper-pagination) {
            right: 0;
        }
    }
}