@import '../../../styles/mixins.scss';

.footerMiddle {
    padding-top: 20px;
    padding-bottom: 15px;

    .features {
        margin-top: 20px;
        margin-bottom: 40px;

        .featureWrapper {
            &:not(:last-of-type) {
                .feature {
                    border-right: 1px solid rgb(70, 91, 122);
                }

                &.ar {
                    border-right: none;
                    border-left: none;

                    .feature {
                        border-right: none;
                        border-left: 1px solid rgb(70, 91, 122);
                    }
                }
            }

            @include md {
                .feature {
                    border-right: none !important;
                    border-left: none !important;
                }
            }
        }

        .feature {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0 5px;

            i {
                color: var(--secondary-color);
                font-size: 2.5rem;
            }

            h6,
            p {
                color: var(--text-inside);
            }
        }
    }

    .widget {
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;

        p {
            margin: 0 0 10px;
        }

        h4 {
            font-size: 16px;
            color: var(--text-inside);
        }

        .text {
            h6 {
                display: flex;
                font-size: 14px;
                color: var(--text-inside);
                font-weight: 300;
                line-height: 14px;
                margin-bottom: 10px;

                b {
                    margin-right: 10px;
                    font-weight: 700;
                    min-width: 16px;
                }

                &:hover {
                    color: var(--main-color) !important;
                }
            }
        }
    }


    .links {
        h4 {
            font-size: 16px;
            color: var(--text-inside);
        }

        .images {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            img {
                width: 120px;
                height: 40px;
                object-fit: contain;
                cursor: pointer;
            }
        }

        ul {
            li {
                a {
                    color: var(--text-inside);
                    font-weight: 300;
                    font-size: 14px;
                }

                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        form {
            margin-bottom: 16px !important;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .formControl {
                height: 35px;
                padding: 10px 15px;
                border-radius: 20px;
                font-size: inherit;
                outline: none;
                border: 1px solid var(--border-color);
                width: 170px;
            }

            .btn {
                padding: 10px 20px;
                font-size: 12px;
                background-color: var(--secondary-color);
                color: var(--text-inside);
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.429;
                border: none;
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                    color: var(--main-color);
                }
            }
        }

        p {
            color: var(--text-inside);
        }
    }

    .methods {
        border-top: 1px solid rgb(70, 91, 122);
        padding: 15px 0;

        p {
            color: var(--text-inside);
            font-weight: 600;
            font-size: 1rem;
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 5px;

            i {
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 50%;
                display: grid;
                place-content: center;
                cursor: pointer;
            }
        }

        .cards {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 60px;
                height: 30px;
                background-color: var(--secondary-background);
                padding: 0px 10px;
            }
        }
    }

    &.ar {
        .widget {
            .bigImage {
                object-position: right;
            }

            .text {
                h6 {
                    b {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}