@import '../../../styles/extends.scss';

.sale {
  background-image: url('../../../public/imgs/sale.jpg');
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;

  p {
    font-weight: 600;
  }

  h3 {
    font-size: 1.4rem;

    span {
      color: var(--main-color);
    }
  }

  a {
    font-weight: bold;
    font-size: 0.9rem;
    @extend %borderLink;
  }
}