@import '../../../styles/mixins.scss';

.footer {
  padding: 0 10px;
  margin-top: 80px;

  .topPart {
    border-top: 1px solid var(--heavy-border);
    border-bottom: 1px solid var(--heavy-border);
    padding: 15px 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      img {
        width: 150px;
      }

      .links {
        ul {
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;

          li {
            cursor: pointer;

            a {
              font-weight: 500;
              text-transform: uppercase;
              font-size: 0.95rem;

              &:hover {
                color: var(--main-color);
              }
            }

          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        i {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid var(--heavy-border);
          display: grid;
          place-content: center;
          cursor: pointer;

          &:hover {
            border-color: transparent;
            background-color: var(--main-color);
            color: var(--text-inside);
          }
        }
      }

      @include sm {
        gap: 10px;
      }
    }
  }

  .bottomPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0;

    p {
      opacity: 0.8;
      font-size: 0.85rem;
    }

    img {
      width: 70px;
      height: 30px;
      padding: 0 10px;
      background-color: var(--special-background);
    }

    .methods {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}