.footerBottom {
    border-top: 1px solid #313438;
    padding-bottom: 21px;
    padding-top: 20px;
    align-items: center !important;
    display: flex !important;


    .footerRight {
        margin-top: 0rem;
        margin-left: auto;

        .paymentIcons {
            margin-right: 2px;

            .paymentIcon {
                display: inline-block;
                vertical-align: middle;
                margin: 1px;
                width: 56px;
                height: 32px;
                background-color: #d6d3cc;
                background-size: 80% auto;
                background-repeat: no-repeat;
                background-position: center;
                transition: opacity 0.25s;
                filter: invert(1);
                border-radius: 0;
            }
        }
    }
}