@import '../../../styles/mixins.scss';

.wrapper {
  margin: 50px 0;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--heavy-border);
    margin-bottom: 20px;

    .side {
      h3 {
        color: var(--main-color);
        margin: 0;
        font-weight: 600;
      }

      p {
        opacity: 0.8;
        margin: 0;
        font-size: 0.9rem;
      }
    }

    .time {
      display: flex;
      align-items: center;
      gap: 10px;

      h6 {
        font-size: 0.9rem;
        margin: 0;
      }

      span {
        font-size: 0.8rem;
      }

      h5 {
        font-size: 0.9rem !important;
        font-weight: 500;
        background-color: var(--secondary-color);
        padding: 3px 10px;
        color: #fff;
        border-radius: 5px;
      }

      a {
        font-weight: 600;
        color: var(--main-color);
      }
    }

    @include xs {
      display: block;

      .time {
        flex-wrap: wrap;
        margin-top: 10px;
      }
    }
  }

  .collection {
    .categories {
      height: 100%;
      border: 1px solid var(--heavy-border);
      border-radius: 5px;
      padding: 20px;
      background-color: var(--light-main-color);
      opacity: 0.8;

      ul {
        li {
          color: var(--main-color);
          cursor: pointer;
          padding: 3px 0;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--secondary-color);
            transform: translateX(5px);
          }
        }
      }
    }
  }
}