.categories {
  h2 {
    font-size: 1.4rem;
    text-align: center !important;
    margin-bottom: 30px;
  }

  .category {
    max-width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
      transition: all 0.3s ease-in-out;
    }

    h5 {
      position: absolute;
      bottom: -5px;
      text-align: center !important;
      width: 100%;
      background-color: #fff;
      padding: 20px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}