@import '../../../styles/mixins.scss';

.collection {
  margin: 20px 0;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    span {
      cursor: pointer;
      font-size: 0.95rem;
      font-weight: 600;
      position: relative;
      border: 1px solid var(--heavy-border);
      border-radius: 5px;
      padding: 5px 10px;

      &.active {
        // font-weight: bold;
        border-color: var(--main-color);
        color: var(--main-color);
      }
    }

    @include xs {
      gap: 15px;

      span {
        font-size: 0.9rem;
      }
    }
  }
}