.testimonial {
    padding: 0;

    .testimonialOwner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-content: center;
        justify-content: flex-end;

        figure {
            margin-bottom: 13px;
            max-width: 55px;
            margin-left: 12px;

            img {
                display: block;
                width: 100%;
                border-radius: 3px;
                max-width: 100%;
                height: auto;
                border: 1px solid var(--border-color);
                padding: 3px;
            }
        }

        .testimonialTitle {
            margin: 0;
            font-size: 13px;
            text-transform: capitalize;
            padding-top: 9px;
            margin-bottom: 1px;
            letter-spacing: 0.01em;
            display: block;
            color: var(--text-dark);
            text-align: right !important;
            a {
                color: var(--text-dark);
                opacity: 1;
                &:hover {
                    color: var(--main-color);
                }
            }
        }

        span {
            text-transform: none;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 0;
            display: block;
            color: var(--text-color);
            line-height: 1.2;
            text-align: right !important;

        }
    }

    blockquote {
        margin: 0 0 5px;
        padding: 10px;
        position: relative;
        background-color: var(--main-color);
        color: #fff;
        border-radius: 5px;

        p {
            font-size: 13px;
            color: #fff;
            letter-spacing: 0;
            line-height: 24px;
            margin: 0;
        }
    }
}