@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";

.banner {
    position: relative;
    font-size: 16px;
&.ar {
    .bannerLayer {
        h3 {
            b {
                margin-left: 30px;
                margin-right: 0;
            }
        }
        .btn {
            i {
                padding-right: 11px;
                padding-left: 0;
                transform: rotateY(180deg);
            }
        }
    }
}
    img {
        min-height: 213px;
        object-fit: cover;
        width: 100%;
    }

    .bannerLayer {
        right: 18%;
        margin-top: 1px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 6%;
        text-align: right !important;

        @include sm {
            right: 6%;
        }

        h4 {
            margin-bottom: 8px;
            font-family: "Savoye LET";
            font-size: 22px;
            color: #ee8379;
            // text-align: right !important;
            @include xs {
                font-size: 20px;
            }
        }

        h3 {
            // text-align: right !important;
            margin-bottom: 8px;
            font-size: 30px;
            line-height: 1.5;
            letter-spacing: -0.02em;
            color: var(--text-dark);
            font-weight: 700;

            @include sm {
                font-size: 20px;
            }

            @include xs {
                font-size: 16px;
            }

            b {
                font-weight: 700;
                margin-right: 30px;
                color: var(--text-light);
                position: relative;

                @include xs {
                    margin-right: 20px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: -5px;
                    right: -15px;
                    bottom: -5px;
                    z-index: -1;
                    background: var(--text-dark);
                    transform: rotate(-1.5deg) skew(1.5deg);
                }
            }
        }

        .btn {
            cursor: pointer;
            margin-right: -1px;
            padding: 0 0 2px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text-dark);
            @include xs {
                font-size: 14px;
            }

            i {
                padding-left: 11px;
            }

            &:hover {
                color: #4d4f53;
            }
        }
    }
}