// IMPORTING GLOBAL VARIABLES AND MIXINS
@import "../../../styles/extends.scss";

.dropdown {
  @extend %dropdown;

  img,
  h6 {
    cursor: pointer;
    margin: 0 !important;
  }

  img {
    width: 25px;
    height: 20px;

  }

  span {
    font-size: 0.9rem;
    padding: 0 5px;
  }

  i {
    font-size: 0.9rem;
  }

  .dropdownMenu {
    position: absolute;
    z-index: 1150;
    min-width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    background: #fff;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-out;
  };
  li {
    display: flex;
    gap: 5px;
    padding: 0.5em 7px;
    color: #777;
    white-space: nowrap;
    font-size: 0.9rem;

  }
}