.cartCounter {
  display: flex;
  align-items: center;

  button {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    outline: none;
  }

  input {
    height: 40px;
    border: 1px solid var(--border-color);
    outline: none;
    width: 60px;
    text-align: center !important;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &.small {
    button {
      width: 30px;
      height: 35px;
    }

    input {
      width: 45px;
      height: 35px;
    }
  }
}