@import "../../../styles/mixins.scss";
@import "../../../styles/extends.scss";

.navbar {
  .navbar__main {
    background-color: var(--main-color);
    margin-bottom: 50px;
    .navbar_mainNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .smallLogo {
        display: none;
        .smallImage {
          height: 50px;
          @include md {
            display: inline-block;
          }
        }
      }
      .switches {
        display: flex;
        align-items: center;
        gap: 10px
      }
      .links {
        ul.navLinks {
          display: flex;
          li {
            font-size: 0.85rem;
            font-weight: 600;
            cursor: pointer;
            color: #fff;
            height: 45px;
            line-height: 45px;
            border-right: 1px solid #e0e0e0;
            padding: 0 10px;
            @include lg {
              padding: 0 5px;
              font-size: 0.8rem;
            }
            a {
              color: #fff;
            }
            i {
              font-size: 0.8rem;
            }
            &:hover {
              color: var(--secondary-color);
              background-color: rgba(0, 0, 0, 0.2)
            }
          }
          &.ar {
            li {
              border-right: unset;
              border-left: 1px solid #e0e0e0;
            }
          }
        }
        @include md {
          display: none;
        }
      }
      .navbar__main__account {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 15px;
        @include lg {
          gap: 10px;
        }
        i {
          color: #fff;
          font-size: 1.3rem;
          cursor: pointer;
        }
        span {
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          height: 50px;
          display: flex;
          align-items: center;
        }

        .wishlist,
        .cart {
          position: relative;
          @keyframes show {
            0% {
              opacity: 0;
              transform: translateY(30px);
            }
            100% {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
      }
      @include md {
        padding-top: 5px;
        padding-bottom: 5px;
        .smallLogo {
          display: inline;
          color: #fff;
          display: flex;
          gap: 15px;
          align-items: center;
          i {
            cursor: pointer;
            font-size: 1.2rem;
          }
        }
        .switches {
          display: none;
        }
        .navbar__search__searchArea {
          display: none;
        }
      }
      @include xs {
        .navbar__search__account {
          gap: 15px;
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
