@import '../../../styles/mixins.scss';

.topHeader {
  background-color: var(--main-color);
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    span {
      font-size: 0.85rem;
    }
    .options {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        padding: 0 10px;
        border-left: 1px solid rgb(224, 224, 224);
        cursor: pointer;
        font-size: 0.85rem;
      }
    }
  }
  @include md {
    display: none;
  }
}