@import "../../../styles/mixins.scss";

.products {
    background-color: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 50px;

    .btn {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;

        a {
            margin: 12px 40px;
            border: 1px solid #000;
            width: auto;
            display: inline-block;
            letter-spacing: 0.075em;
            color: #000;
            background: transparent;
            font-size: 12px;
            line-height: 15px;
            padding: 18px 55px;
        }
    }
}

.featuresContent {
    background-color: #111111;
    padding: 50px 10px 0;
}