@import '../../../styles/mixins.scss';

.sectionTitle {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 13px;
    text-align: left !important;
    text-transform: uppercase;

    &.ar {
        text-align: right !important;
    }

    h2 {
        padding-bottom: 1px;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
        color: var(--text-dark);
    }

    hr {
        margin: 0 25px;
        height: 20px;
        width: 0;
        max-height: 100%;
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.09);
        @include xs {
            margin: 0 5px;
        }
    }

    a {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: var(--main-color);

        i {
            margin-left: 16px;
        }
        &.ar {
            i {
                margin-left: 0;
                margin-right: 16px;
                transform: rotate(180deg);
            }
        }
    }
}

.post {
    .postMedia {
        margin-bottom: 19px;
        overflow: hidden;
        position: relative;
        border-radius: 0;


        img {
            width: 100%;
            min-height: 280px;
        }

        .postDate {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 66px;
            height: 73px;
            padding: 10px 8px 8px;
            color: var(--text-light);
            background: var(--text-dark);
            text-align: center !important;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &.ar {
                left: auto;
                right: 10px;
            }

            .day {
                display: block;
                font-size: 28px;
                margin-bottom: 4px;
                font-weight: 700;
                line-height: 1;
                text-align: center !important;

            }

            .month {
                display: block;
                font-size: 11px;
                font-weight: 400;
                line-height: 1;
                opacity: 0.6;
                text-align: center !important;

            }
        }

        .prodFullScreen {
            display: flex;
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: var(--main-color);
            color: var(--text-light);
            border-radius: 50%;
            position: absolute;
            transition: all 0.5s;
            outline: none;
            opacity: 0;
            z-index: 1;
            right: 5px;
            bottom: 5px;
            cursor: pointer;
        }


    }

    .content {
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        align-items: center;

        .postBody {
            display: flex;
            padding-bottom: 13px;
            flex-direction: column;
            align-items: flex-start;

            .postCategory {
                padding: 8px 15px;
                font-weight: 600;
                font-size: 11px;
                line-height: 1;
                color: var(--text-light);
                letter-spacing: 0.01em;
                border-radius: 5px;
                background-color: var(--text-dark);
            }

            .postTitle {
                margin: 18px 0 15px;
                font-weight: 700;
                font-size: 20px;
                line-height: 1;
                letter-spacing: 0.005em;
                color: var(--text-dark);
            }

            p {
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0;
                line-height: 25px;
                margin-bottom: 20px;
            }

            .btn {
                padding: 7px 19px 6px 20px;
                font-size: 11px;
                border: 2px solid var(--border-color);
                color: var(--text-dark);
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 0.15em;

                &:hover {
                    background-color: var(--main-color);
                    border-color: var(--main-color);
                    border-bottom-color: var(--main-color);
                    color: var(--text-light);
                    text-decoration: none;
                }
            }
        }
    }
}