.pagesDropdown {
  position: absolute;
  z-index: 9999;
  top: 90%;
  left: 0;
  width: 100%;
  min-height: 400px;
  background-color: var(--secondary-background);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-top: 3px solid var(--main-color);
  animation: show 0.3s forwards;

  .linkDropdown {
    h5 {
      color: var(--main-color);
      font-size: 1rem;
      height: unset !important;
      line-height: 40px !important;
    }

    ul {
      display: block !important;

      li {
        color: var(--text-color) !important;
        padding: 5px 0 !important;
        font-weight: 500;
        border: none !important;
        line-height: 22px !important;
        height: auto !important;
        background: none !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    img {
      object-fit: contain;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}