@import '../../../styles/mixins.scss';

.collection {
  background-color: #fff;
  padding: 15px 15px 5px;
  margin-bottom: 20px;
  .head {
    h2 {
      margin: 10px 0 4px;
      font-size: 16px;
      text-align: center !important;
    }

  }
  :global(.swiper-button-prev) {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #222529 !important;
    left: 0px;
    display: none;
    text-align: center !important;

    &::after {
      color: #222529 !important;
      font-size: 16px !important;
    }
  }

  :global(.swiper-button-next) {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #222529 !important;
    right: 0px;
    display: none;
    text-align: center !important;

    &::after {
      color: #222529 !important;
      font-size: 16px !important;
    }

  }

  &:hover {
    :global(.swiper-button-prev) {
      display: block;
    }

    :global(.swiper-button-next) {
      display: block;
    }
  }
}