@import '../../../styles/extends.scss';
@import '../../../styles/mixins.scss';

.sale {
  background-image: url('../../../public/imgs/banner3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .details {
    a {
      color: var(--main-color);
      font-size: 0.9rem;
      font-weight: bold;
      position: relative;
      padding-bottom: 3px;
      @extend %borderLink;

      span {
        background-color: var(--main-color);
      }
    }
  }

  .offer {
    max-width: 40%;

    .singleSale {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-weight: 600;
        font-size: 1.2rem;
      }

      h3 {
        color: var(--main-color);
        font-size: 2rem;
        font-weight: bold;
      }

      a {
        color: #fff;
        font-weight: 600;
        border-bottom: 2px solid var(--main-color);
      }
    }
  }

  @include sm {
    padding: 50px 20px;
    flex-direction: column;
    gap: 50px;

    .details {
      display: flex;
      align-items: center;
      flex-direction: column;

      * {
        text-align: center !important;
      }
    }

    .offer {
      max-width: 100%;
    }
  }
}