.footer {
  line-height: 1.4;
  letter-spacing: 0.005em;
  font-size: 13px;
  color: #90969a;
  padding-left: 10px;
  padding-right: 10px;
  
  .container {
    max-width: none;
  }

  a {
    color: rgb(144, 150, 154);

    &:hover {
      color: #000;
    }
  }
}