.footer {
  line-height: 1.4;
  letter-spacing: 0.005em;
  font-size: 13px;
  color: #90969a;

  .container {
    max-width: none;
    padding-left: 4.28vw;
    padding-right: 4.28vw;
  }

  a {
    color: rgb(144, 150, 154);

    &:hover {
      color: #000;
    }
  }
}