@import "../../../styles/mixins";

.backdrop {
  transition: all ease-in-out 0.4s !important;

  .mobileMenu {
    width: 300px;
    height: 100vh;
    background-color: var(--secondary-background);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out 0.3s !important;

    .head {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        font-size: 1.1rem;
        width: 33%;
        height: 60px;
        font-weight: 500;
        background-color: var(--main-color);
        color: #fff;
        border-right: 1px solid #fff;
        text-align: center !important;
        cursor: pointer;
        outline: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          position: relative;
          top: 2px;
        }

        i:not(.with) {
          margin: 0;
        }

        &.en {
          i {
            font-size: 18px;
          }
        }

        li {
          font-size: 17px;
          color: #000;
        }

        img {
          margin: 0px 0px;
          position: relative;
          left: -5px;
        }

        .num {
          width: 20px;
          height: 20px;
          line-height: 20px;
          border-radius: 50%;
          text-align: center !important;
          background-color: #fed700;
          position: absolute;
          bottom: 22%;
          right: 22%;
          color: #000;
        }

        &.ar {
          i {
            font-size: 18px;
          }

          img {
            left: unset;
            right: -8px;
          }
        }
      }
    }

    .items {
      overflow: scroll;
      height: 90%;
      padding-top: 10px;
      padding-right: 5px;
      padding-left: 5px;

      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: var(--text-color);

        a {
          width: 100%;
          margin-bottom: 3px;
        }

        li {
          display: block;
          width: 100%;
          padding: 8px 20px;
          font-size: 0.9rem;
          cursor: pointer;
          font-weight: bold;
          position: relative;
          text-transform: uppercase;
          border-radius: 5px;

          i {
            font-size: 1.1rem;
            margin-right: 10px;

            &.ar {
              margin-right: 0px;
              margin-left: 10px;
            }
          }

          &:hover {
            background-color: var(--main-color);
            color: #fff;
          }

          &.active {
            background-color: var(--main-color);
            color: #fff;
          }
        }
      }

      svg {
        position: relative;
        top: 4px;
        margin-right: 5px;
        font-size: 22px;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 2px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
      }

      .item {
        cursor: pointer;
        box-shadow: none;
        position: static;
        min-height: 0;
        margin: 0;
        padding: 0px 20px;

        div {
          border: none;
          padding: 0;
          margin: 0;
          box-shadow: none;
          min-height: 0;

          h4 {
            font-size: 18px;
          }

          ul {
            li {
              font-size: 17px;
              margin: 0px 0 10px;
              transition: all 0.2s ease-in-out;

              svg {
                font-size: 10px;
                position: relative;
                top: 0;
              }

              &:hover {
                padding-left: 10px;
              }
            }
          }
        }

        h5 {
          font-size: 18px;
          font-weight: 500;
          margin: 10px 0;
          letter-spacing: 0;
        }
      }
    }

    &.ar {
      left: unset;
      right: -300px;
    }
  }

  &.show {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);

    .mobileMenu {
      left: 0px;
      animation: show 0.5s ease-in-out 1;
      animation: showOp 0s ease-in-out 1;
      z-index: 9999;
      opacity: 1;

      &.ar {
        left: unset;
        right: 0;
      }
    }

    @keyframes show {
      0% {
        left: -100%;
      }

      100% {
        left: 0px;
      }
    }

    @keyframes showOp {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &.hide {
    z-index: -1 !important;
    background-color: transparent;

    .mobileMenu {
      left: -100%;
      animation: hide 1s ease-in-out;
      animation: hideOp 0.5s ease-in-out;
      z-index: -1;
      opacity: 0;
    }

    @keyframes hide {
      0% {
        left: 0px;
      }

      100% {
        left: -300px;
      }
    }

    @keyframes hideOp {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}