@import '../../../styles/mixins.scss';

.briefCollection {
  h4 {
    font-size: 1.1rem;
  }

  .product {
    border-bottom: 1px solid var(--heavy-border);
  }

  h6 {
    font-size: 0.95rem;
  }

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--heavy-border);
    height: 100%;
    position: relative;
    padding: 30px 20px;

    span {
      font-weight: 600;
      color: var(--secondary-color);
      margin-bottom: 10px;
    }

    h3 {
      margin: 0;
    }

    p {
      opacity: 0.8;
      font-size: 0.9rem;
      text-align: center !important;
      max-width: 400px;
      margin-bottom: 30px;
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: 1rem;
      width: 100%;

      .input {
        border: none;
        padding: 0.5rem 15px;
        outline: none;
        border: 1px solid var(--heavy-border);
        max-width: 300px;
        background-color: var(--secondary-background);
        font-size: 0.9rem;
      }

      .button {
        background-color: var(--main-color);
        color: var(--text-inside);
        padding: 0.6rem 25px;
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
      }
    }

    .socialIcons {
      display: flex;
      gap: 5px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;

        i {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: grid;
          place-content: center;
          color: var(--text-inside);
        }

        .facebook {
          background-color: #1877f2;
        }

        .twitter {
          background-color: #1da1f2;
        }

        .instagram {
          background-color: #c32aa3;
        }

        .linkedin {
          background-color: #0a66c2;
        }

        .youtube {
          background-color: #ff0000;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    &.ar {
      &:before {
        left: unset;
        right: 0;
      }
    }

    @include md {
      &:before {
        content: none;
      }
    }

    @include sm {
      &:before {
        content: '';
      }
    }

    @include xs {
      &:before {
        content: none;
      }
    }
  }
}