.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  &>button {
    padding: 10px 40px;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 155px;
    text-align: center !important;
  }
}