.categories {
  margin: 20px 0;

  .category {
    cursor: pointer;

    * {
      transition: all 0.2s ease-in-out;
    }

    i {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid var(--heavy-border);
      display: grid;
      place-content: center;
      font-size: 2rem;
      opacity: 0.8;
      margin: 10px auto;
    }

    h6 {
      text-align: center !important;
      font-size: 0.9rem;
    }

    &:hover {
      i {
        box-shadow: 5px 5px 40px 1px rgba(0, 0, 0, 0.1);
        color: var(--secondary-color);
      }

      h6 {
        color: var(--secondary-color);
      }
    }
  }
}