@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";
$sliderOneColor: var(--text-light);
$sliderTwoColor1: #777;
$sliderTwoColor2: var(--text-dark);
$sliderOneBadge: #ff7272;

.slider {
    img {
        height: 428px;
        object-position: center center;
        object-fit: cover;
        max-width: 100%;
        @include xs {
            object-position: center right;   
        }
    }
    

    .slide1 {
        position: relative;
        
        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 5.5%;
            right: 6%;
            top: 20%;

            h4 {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.08em;
                opacity: 0.7;
                padding-bottom: 14px;
                color: $sliderOneColor;
                margin: 0;
            }

            h2 {
                font-size: 44px;
                letter-spacing: 0.002em;
                color: $sliderOneColor;
                font-family: 'Savoye LET', sans-serif;
                line-height: 1;
                margin: 0;
            }

            h3 {
                font-size: 76px;
                margin-bottom: 16px !important;
                line-height: 1;
                color: $sliderOneColor;
                text-transform: uppercase !important;
            }

            h5 {
                margin-right: -2px;
                font-size: 11px;
                margin-top: -4px;
                line-height: 1;
                color: $sliderOneColor;
                display: inline-block !important;
                text-transform: uppercase !important;
                margin: 0;
                vertical-align: text-bottom !important;

                b {
                    color: $sliderOneColor;
                    background-color: $sliderOneBadge;
                    position: relative;
                    padding: 4px 8px;
                    margin: 0 6px 0 12px;
                    font-size: 12px;
                    transform: rotate(-2deg);
                    display: inline-block;
                    font-weight: 700px;


                    em {
                        font-size: 24px;
                        font-style: normal;
                        vertical-align: text-top !important;
                    }

                }
            }

            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: $sliderOneColor;
                box-shadow: none;
                font-size: 12px;
                padding: 12px 34px;
            }
        }
        @include xs {
            .bannerLayer {
                h3 {
                    font-size: 60px;
                }
                .btn {
                    display: inline-block;
                    margin-top: 15px;
                }
            }
        }
    }

    .slide2 {
        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 5.5%;
            right: 6%;
            top: 20%;
            text-transform: uppercase !important;

            h4 {
                color: $sliderTwoColor1;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.08em;
                opacity: 0.7;
                margin: 0 0 8px;
            }

            h2 {
                font-size: 55px;
                color: $sliderTwoColor2;
                font-weight: 700;
                margin-bottom: 16px;
            }
            h5 {
                margin-right: 30px;
                margin-bottom: 20px;
                margin-top: -4px;
                line-height: 1;
                color: $sliderTwoColor2;
                display: inline-block !important;
                text-transform: uppercase !important;
                vertical-align: top !important;

                b {
                    color: $sliderTwoColor2;
                    position: relative;
                    font-size: 13px;
                    display: inline-block;
                    font-weight: 700px;

                    em {
                        font-size: 26px;
                        font-style: normal;
                        vertical-align: middle !important;
                    }

                }
            }
            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: $sliderOneColor;
                box-shadow: none;
                font-size: 12px;
                padding: 12px 34px;
            }
        }
        @include xs {
            .bannerLayer {
                h2 {
                    font-size: 40px;
                }
                .btn {
                    display: inline-block;
                    margin-top: 15px;
                }
            }
        }
    }

    :global(.swiper-pagination) {
        margin: 16px 5.5% 0;
        position: absolute;
        bottom: 10%;
        @include xs {
            bottom: 5%;
        }

        :global(.swiper-pagination-bullet) {
            border: 2px solid var(--text-dark);
            width: 14px;
            height: 14px;
            background: transparent;
            opacity: 1;
            position: relative;

            &:hover {
                border: 2px solid var(--text-dark);
            }

            &:global(.swiper-pagination-bullet-active) {
                border: 2px solid var(--text-dark);

                &::before {
                    width: 4px;
                    height: 4px;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    background-color: var(--text-dark);
                    transition: all 0.3s;
                    border-radius: 50%;
                }
            }
        }
    }
    &.ar {
        img {
            transform: rotateY(180deg);
        }
        .slide2 {
            h5 {
                margin-left: 30px;
            }
        }
        :global(.swiper-pagination) {
            right: 0;
        }
    }
}