.categories {

  .head {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: var(--main-color);
    }
  }

  .swiper {
    padding: 5px 0;
  }

  .category {
    border: 1px solid var(--heavy-border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-in-out;

    img {
      width: 100px;
      height: 80px;
      object-fit: contain;
    }

    h6 {
      margin: 0;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        color: var(--main-color);
      }
    }

    p {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    &:hover {
      border-color: var(--main-color);
      transform: translateY(-5px);
    }
  }
}