@import "../../../styles/mixins.scss";
@import "../../../styles/extends.scss";

.navbar {
  position: relative;
  .search__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    .logo {
      cursor: pointer;
      .bigImage {
        height: 75px;
        -webkit-height: 75px !important;
        object-fit: contain;
        -webkit-object-fit: contain !important;
        @include md {
          display: none;
        }
      }
    }
    .links {
      ul.navLinks {
        display: flex;
        gap: 5px;
        li {
          font-size: 0.9rem;
          font-weight: 600;
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          padding: 0 10px;
          @include lg {
            padding: 0 5px;
          }
          i {
            font-size: 0.8rem;
          }
        }

      }
      @include md {
        display: none;
      }
    }
    .support {
      display: flex;
      align-items: center;
      gap: 0px;
      svg {
        height: 80px !important;
        width: auto !important;
      }
    }
    @include md {
      display: none;
    }
  }

  .navbar__main {
    background-color: var(--main-color);
    color: var(--text-inside);
    padding: 3px 0;
    .navbar_mainNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .smallLogo {
        display: none;
        .smallImage {
          height: 50px;
          -webkit-height: 50px !important;
          object-fit: contain;
          -webkit-object-fit: contain !important;
          @include md {
            display: inline-block;
          }
        }
      }
      .switches {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .navbar__search__searchArea {
        border: 2px solid var(--main-color);
        border-radius: 30px;
        overflow: hidden;
        background-color: var(--secondary-background);
        display: flex;
        align-items: center;
        input {
          width: 500px;
          height: 40px;
          padding: 8px 20px;
          outline: none;
          border: none;
          font-size: 0.9rem;
          background-color: transparent;
        }
        select {
          border: none;
          outline: none;
          opacity: 0.8;
          font-size: 0.9rem;
          background-color: transparent;
        }
        button {
          height: 42px;
          width: 60px;
          background-color: #000;
          text-align: center !important;
          color: #fff;
          border: none;
        }
        @include lg {
          input {
            width: 300px;
          }
        }
      }
      .navbar__main__account {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 20px;
        @include lg {
          gap: 10px;
        }
        i {
          font-size: 1.3rem;
          cursor: pointer;
        }
        span {
          font-weight: bold;
          cursor: pointer;
          height: 50px;
          display: flex;
          align-items: center;
        }

        .wishlist,
        .cart {
          position: relative;
          .wishlist__dropdown,
          .cart__dropdown {
            position: absolute;
            z-index: 9999;
            top: 100%;
            right: -50%;
            background-color: var(--secondary-background);
            width: 350px;
            min-height: 350px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            border-top: 3px solid var(--main-color);
            border-radius: 0 0 5px 5px;
            animation: show 0.3s forwards;
            padding-bottom: 20px;
            &.ar {
              right: unset;
              left: -50%;
            }

            @include xs {
              display: none;
            }

            .item {
              display: flex;
              align-items: center;
              gap: 10px;
              padding: 10px;
              cursor: pointer;
              &:hover {
                background-color: var(--hover-color);
              }
              img {
                width: 80px;
              }
            }
            .actions {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              display: flex;
              justify-content: space-between;
              button {
                flex: 1;
                text-align: center !important;
                padding: 8px 0;
                background-color: transparent;
                color: var(--text-color);
                border: 1px solid var(--heavy-border);
                cursor: pointer;
                &.view {
                  @extend %mainBtn;
                  padding: 8px 0;
                  border-radius: 0;
                }
              }
            }
          }
          @keyframes show {
            0% {
              opacity: 0;
              transform: translateY(30px);
            }
            100% {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
      }
      @include md {
        padding-top: 5px;
        padding-bottom: 5px;
        .smallLogo {
          display: inline;
          display: flex;
          gap: 15px;
          align-items: center;
          i {
            cursor: pointer;
            font-size: 1.2rem;
          }
        }
        .switches {
          display: none;
        }
        .navbar__search__searchArea {
          display: none;
        }
      }
      @include xs {
        .navbar__search__account {
          gap: 15px;
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}