@import "../../../styles/mixins.scss";

.footer {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.05px;
  border-top: 3px solid var(--main-color);
  &.positionRelative {
    position: relative !important;
  }
  p {
    line-height: 24px;
  }
  a {
    &:hover {
      color: var(--hover-color);
    }
  }
  @include sm {
    padding-bottom: 80px;
  }
}