.collection {
  margin-top: 46px;
  padding-bottom: 29px;

  h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: start !important;
    text-transform: uppercase
  }

  .headingSpacer {
    width: 10px;
    margin: 0px 0 17px;
    border-top: 2px solid #e13b3f;
  }
}