@import "../../../styles/mixins.scss";
.products {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 20px 14px;
}
.collection {
    background-color: #fbfbfb;
    margin-top: 20px;
    padding-top: 48px;
    padding-bottom: 22px;
}
.collection2 {
    margin-top: 20px;
    padding-top: 48px;
    padding-bottom: 22px;
}
.categories {
    padding-bottom: 38px;
}
.features {
    background-color: #f6f7f9;
}
.blogs {
    padding-top: 46px;
    padding-bottom: 30px;
}