.featureBoxesContainer {
    background-color: var(--special-background);

    .featureBox {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;

        i {
            font-size: 30px;
            color: var(--text-dark);
            line-height: 1;
            text-align: center !important;
        }

        .featureBoxContent {
            font-size: 15px;
            line-height: 1.9;
            padding-left: 10px;
            padding-right: 10px;

            h3 {
                color: var(--text-dark);
                margin: 0;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.4;
                letter-spacing: 0;
            }

            h5 {
                color: #555;
                font-weight: 400;
                margin: 4px 0 0;
                font-size: 14px;
                line-height: 1.2;
            }

            p {
                margin: 0;
                font-size: 13px;
                line-height: 2;
            }
        }

        &:hover {
            background-color: var(--secondary-background);
        }
    }
}