@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";

.banner {
    margin-top: -2px;
    margin-bottom: 50px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--text-dark);
    background-image: url("../../../public/imgs/sale/sale-16-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0%;
    text-align: center !important;

    @include xs {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2 {
        color: #fff;
        font-size: 40px;
        font-family: "Savoye LET";
        line-height: 1;
        text-align: center !important;
        margin: 0 0 4px 0;
        
        @include xs {
            font-size: 30px;
        }
    }

    h3 {
        color: #fff;
        font-size: 88px;
        line-height: 1;
        text-align: center !important;
        margin: 0 0 10px;
        @include xs {
            font-size: 50px;
        }
    }

    hr {
        border: none;
        border-top: 5px solid #fff;
        margin: 15px auto 34px;
        width: 50px;
        @include xs {
            margin: 10px auto 20px;
        }
    }

    a {
        background: #fff;
        border-color: #fff;
        color: var(--text-dark);
        padding: 15px 39px;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        @include xs {
            padding: 10px 20px;
        }
    }

    &.ar {
        a {
            i {
                transform: rotateY(180deg);
            }
        }
    }
}