.horizontalCard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 16px;
  img {
    width: 84px;
    height: 84px;
  }
  .info {
    h6 {
      font-size: 0.85rem;
      font-weight: 400;
      margin: 0;
    }
    span {
      font-size: 1rem;
    }
    .price {
      display: flex;
      align-items: flex-end;
      gap: 5px;
      span:first-of-type {
        font-size: 0.8rem;
        text-decoration: line-through;
        opacity: 0.8;
      }
      span:last-of-type {
        font-size: 1.1rem;
        opacity: 1;
        font-weight: 600;
      }
    }
  }
}