@import "../../../styles/extends.scss";

.headerTop {
  padding: 0;
  color: var(--text-color);
  font-weight: 300;
  background-color: var(--main-color);
  border-bottom: 1px solid rgb(70, 91, 122);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLeft,
    .headerRight {
      display: flex;
      align-items: center;
      gap: 10px;

      .topMessage {
        margin: 0 10px;
        font-size: 12px;
        color: var(--text-inside);

        @include md {
          display: none;
        }
      }

      .linksList {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;

        li {
          padding: 0 5px;

          a {
            color: var(--text-inside);
            font-size: 12px;
          }

        }
      }

      .switches {
        display: flex;
        gap: 10px;

        span,
        i {
          color: var(--text-inside);
        }
      }

    }
  }

  @include sm {
    display: none;
  }
}