@import '../../../styles/mixins.scss';

.cartCounter {
  display: flex;
  align-items: center;

  button {
    width: 20px !important;
    height: 40px;
    display: grid;
    place-content: center;
    border: none !important;
    border-radius: 0 !important;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 3px 20px !important;

    @include lg {
      padding: 3px 10px !important;
    }

    @include md {
      padding: 3px 15px !important;
    }
  }

  input {
    height: 40px;
    border: none;
    outline: none;
    width: 30px;
    text-align: center !important;
    background-color: var(--main-color);
    color: var(--text-inside);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}