@import "../../../styles/mixins.scss";
.categoriesCarousel {
    background: var(--bg-alt-color);
    background: linear-gradient(180deg, var(--bg-alt-color) 0%, var(--bg-color) 100%); 
    padding: 20px 60px 27px;
    overflow: hidden;

    :global(.swiper) {
        overflow: visible;
    }

    :global(.swiper-button-prev){
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: var(--bg-color) !important;
        left: -50px;
        top: 30%;
        &:hover {
            &::after{
                color: var(--bg-color) !important;
            }
        }
    }
    :global(.swiper-button-next) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: var(--bg-color) !important;
        right: -50px;
        top: 30%;
        &:hover {
            &::after{
                color: var(--bg-color) !important;
            }
        }
    }
    &.ar {
        :global(.swiper-button-next) {
            right: auto;
            left: -65px;
        }
        :global(.swiper-button-prev){
            left: auto;
            right: -65px;
        }
    }
    @include xxs {
    padding: 20px 10px 27px;
    :global(.swiper-button-next) {
        right: 2px;
        left: auto;
    }
    :global(.swiper-button-prev){
        left: 2px;
        right: auto;
    }
    &.ar {
        :global(.swiper-button-next) {
            right: auto;
            left: 2px;
        }
        :global(.swiper-button-prev){
            left: auto;
            right: 2px;
        }
    }

    }
    

    
}