@import "../../../styles/mixins.scss";

.collection {
    background-color: #efefef;
}

.seprator {
    margin-bottom: 40px;
    margin-top: 55px;
    border: none;
    border-top: 1px solid #e7e7e7;
}