@import "../../../styles/mixins.scss";

.newsletterBanner {
    position: relative;
    padding: 50px 0;

    @include sm {
        padding: 20px 0;
    }

    figure {
        background-color: var(--bg-alt-color);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;

        img {
            object-fit: cover;
            object-position: center right;
        }

    }

    .bannerLayer {
        text-align: center !important;

        @include sm {
            padding: 0 10px;
        }

        h4 {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 8px;
            text-transform: uppercase;
            text-align: center !important;
            color: var(--text-dark);
            font-weight: 700;

            @include sm {
                font-size: 20px;
            }

            @include xs {
                font-size: 16px;
            }
        }

        p {
            margin-bottom: 14px;
            padding: 0 20px;
            font-size: 16px;
            letter-spacing: 0.35px;
            line-height: 1.5;
            font-weight: 400;
            text-align: center !important;

            @include sm {
                font-size: 14px;
            }

            @include xs {
                font-size: 12px;
            }
        }

        form {
            margin-bottom: 0;
            justify-content: center !important;
            display: flex !important;

            input {
                display: block;
                width: 100%;
                max-width: 329.39px;
                padding: 8px 20.4px;
                border-width: 0;
                border-radius: 0;
                height: 52px;
                max-height: 52px;
                transition: all 0.3s;
                background-color: var(--secondary-background);
                font-size: 12px;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 10px;
                outline: none;

                @include sm {
                    height: 40px;
                    max-height: 40px;
                }
            }

            button {
                padding: 0 40px;
                border-radius: 0;
                max-height: 52px;
                font-size: 12.8px;
                font-weight: 700;
                border-color: var(--main-color);
                background-color: var(--main-color);
                color: #fff;
                box-shadow: none;
                transition: all 0.3s;
                text-transform: uppercase;
                line-height: 1.429;
                text-align: center;
                white-space: nowrap;
                cursor: pointer;
                border: 1px solid transparent;

                @include sm {
                    max-height: 40px;
                }

                @include xs {
                    padding: 0 10px;
                    font-size: 10px;
                }
            }
        }
    }

}