@import "../../../styles/extends.scss";

.headerMiddle {
  padding: 10px 0;
  background-color: var(--main-color);
  .headerLeft,
  .headerRight {
    display: flex;
    align-items: center;
  }
  .headerLeft {
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        color: #fff;
      }
      i {
        cursor: pointer;
        font-size: 1.2rem;
        cursor: pointer;
        display: none;
        color: #fff;
        @include md {
          display: block;
        }
      }
      .bigImage {
        height: 75px;
        @include md {
          display: none;
        }
      }
      .smallImage {
        display: none;
        height: 50px;
        @include md {
          display: inline-block;
        }
      }
    }
  }
  .headerRight {
    display: flex;
    justify-content: space-between;
    .headerSearchWrapper {
      display: flex;
      position: static;
      margin: 0;
      border-width: 0;
      color: #fff;
      box-sizing: content-box;
      height: 40px;
      border-radius: 50px;
      border: 1px solid #fff;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      input {
        border: none;
        padding: 0 20px;
        font-size: 0.8rem;
        min-width: 300px;
        outline: none;
        background-color: #fff;
        color: #000;
      }
      .selectCustom {
        margin: 0;
        background: transparent;
        position: relative;
        select {
          width: 135px;
          border: none;
          border-left: 1px solid #fff;
          margin: 0;
          color: #fff !important;
          font-size: 13px;
          height: 100%;
          box-shadow: none;
          background: transparent;
          padding: 0 10px;
          outline: none;
          option {
            color: #000;
          }
        }
      }
      .btn {
        position: relative;
        border: none;
        border-left: 1px solid #fff;
        width: 50px;
        color: #fff;
        font-size: 16px;
        background: transparent;
        border-radius: 0 50px 50px 0;
        text-align: center !important;
        cursor: pointer;
      }
      @include md {
        display: none;
      }
    }

    .headerContact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: #fff;
      svg {
        height: 55px !important;
      }
      h6 {
        margin: 0;
        font-size: 0.9rem;
      }
      a {
        font-size: 0.8rem;
        color: #fff;
      }
      @include md {
        display: none;
      }
    }

    .navbar__main__account {
      display: flex;
      align-items: center;
      height: 50px;
      gap: 15px;
      @include lg {
        gap: 10px;
      }
      i {
        color: #fff;
        font-size: 1.3rem;
        cursor: pointer;
      }
      span {
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
      }

      .wishlist,
      .cart {
        position: relative;
        @keyframes show {
          0% {
            opacity: 0;
            transform: translateY(30px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
  @include md {
    padding: 10px 0;
  }
  @include sm {
    padding: 5px 0;
  }
}
