.features {
  border: 1px solid var(--heavy-border);
  padding: 10px 20px;
  border-radius: 10px;
  .feature {
    display: flex;
    gap: 20px;
    padding: 15px 0;
    i {
      color: var(--main-color);
      font-size: 2rem;
    }
    h6 {
      font-size: 0.95rem;
    }
    p {
      font-size: 0.9rem;
      opacity: 0.8;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--heavy-border);
    }
  }
}