@import '../../../../styles/mixins.scss';

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input,
  button {
    border: none;
    padding: 5px 20px;
    height: 45px;
    outline: none;
  }

  input {
    width: 450px;
    font-size: 0.9rem;

    @include xs {
      width: 300px;
    }
  }

  button {
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
  }
}