.categoriesCarousel {
  padding: 30px 0 30px;

  .sectionTitle {
    padding-bottom: 9px;
    margin-bottom: 25px;
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-dark);
    font-size: 16px;
    text-transform: uppercase;
  }
  &.ar {
    :global(.swiper-button-prev) {
      right: 0;
      left: auto;
    }
    :global(.swiper-button-next) {
      right: auto;
      left: 0;
    }
  }

  :global(.swiper-button-prev) {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: var(--text-light) !important;
    left: 0px;
    display: none;
    text-align: center !important;
    &:hover {
      &::after {
        color: var(--text-light) !important;
      }
    }
  }

  :global(.swiper-button-next) {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: var(--text-light) !important;
    right: 0px;
    display: none;
    text-align: center !important;
    &:hover {
      &::after {
        color: var(--text-light) !important;
      }
    }

  }

  &:hover {
    :global(.swiper-button-prev) {
      display: block;
    }

    :global(.swiper-button-next) {
      display: block;
    }
  }
}