.productCategory {
    a {
        figure {
            margin-bottom: 0;
            position: relative;

            img {
                display: block;
                width: 100%;
                border-radius: 0;
            }

            &::after {
                background-color: rgba(27, 27, 23, 0.06);
                position: absolute;
                border-radius: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: transparent;
                background-color: transparent;
                transition: all 0.3s;
                z-index: 1;
                content: "";
            }

        }

        &:hover {
            figure {
                &::after {
                    background-color: rgba(27, 27, 23, 0.21);
                }
            }
        }

        .categoryContent {
            display: flex;
            display: -ms-flex-box;
            flex-direction: column;
            -ms-flex-direction: column;
            align-items: center;
            -ms-flex-align: center;
            position: absolute;
            left: 25%;
            right: 25%;
            bottom: 0;
            z-index: 5;
            padding: 28px 0;
            background: #fff;
            font-size: 17px;

            h3 {
                margin-bottom: 0;
                font-size: 15px;
                letter-spacing: 0.35em;
                line-height: 1.35;
            }
        }
    }
}