.collection {
  .products {
    .head {
      position: relative;
      border-bottom: 1px solid var(--heavy-border);

      span {
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 120px;
        background-color: var(--secondary-color);
      }
    }

    .one {
      padding: 5px 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--heavy-border);
      }
    }
  }
}