.collection {
  .head {
    border-bottom: 1px solid var(--heavy-border);
    margin-bottom: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: var(--main-color);
    }

    p {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    button {
      background-color: transparent;
      border: 1px solid var(--heavy-border);
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      margin: 0 2px;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}