@import "../../../styles/extends.scss";

.headerMiddle {
  padding: 10px 0;
  background-color: var(--main-color);
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  position: relative;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      color: #fff;
    }
    i {
      cursor: pointer;
      font-size: 1.2rem;
      cursor: pointer;
      display: none;
      color: #fff;
      @include md {
        display: block;
      }
    }
    .bigImage {
      height: 75px;
      @include md {
        display: none;
      }
    }
    .smallImage {
      display: none;
      height: 50px;
      width: 120px;
      object-fit: contain;
      @include md {
        display: inline-block;
      }
    }
  }
  .headerSearchWrapper {
    display: flex;
    position: static;
    margin: 0;
    border-width: 0;
    color: #fff;
    box-sizing: content-box;
    height: 40px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    input {
      border: none;
      padding: 0 20px;
      font-size: 0.8rem;
      min-width: 500px;
      outline: none;
      background-color: var(--secondary-background);
      color: #000;
    }
    .selectCustom {
      margin: 0;
      background: transparent;
      position: relative;
      border: 1px solid #fff;
      select {
        width: 135px;
        border: none;
        margin: 0;
        color: #fff !important;
        font-size: 13px;
        height: 100%;
        box-shadow: none;
        background: transparent;
        padding: 0 10px;
        outline: none;
        option {
          color: #000;
        }
      }
    }
    .btn {
      position: relative;
      border: none;
      width: 60px;
      color: #fff;
      font-size: 16px;
      background: transparent;
      text-align: center !important;
      cursor: pointer;
      background-color: var(--secondary-color);
    }
    &.rounded {
      border-radius: 20px;
      .selectCustom {
        border-radius: 20px 0px 0px 20px;
      }
      &.ar {
        .selectCustom {
          border-radius: 0px 20px 20px 0px;
        }
      }
    }
    @include md {
      display: none;
    }
  }

  .navbar__main__account {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
    @include lg {
      gap: 10px;
    }
    i {
      color: #fff;
      font-size: 1.3rem;
      cursor: pointer;
    }
    span {
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
    }
    .search {
      display: none;
      @include md {
        display: block;
      }
    }

    .wishlist,
    .cart {
      position: relative;
      @include xs {
        .cartAmount {
          display: none;
        }
      }
    }
  }
  @include md {
    padding: 5px 0;
    border: none;
  }
}
