.collecton {
  margin: 50px 0;

  .head {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    h6 {
      position: relative;
      display: inline-block;
      padding: 5px 0;
      margin: 0;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 0.025em;
    }

    a {
      font-size: 13px;
      padding: 1em 3em;
      letter-spacing: 0.01em;
      border-color: #222529;
      background-color: #222529;
      color: #fff;
      box-shadow: none;
    }
  }

  .swiper {
    :global(.swiper-pagination) {
      margin: 16px;
      position: relative;
      bottom: 0px;
      text-align: center !important;
      margin: 18px 0 23px;

      :global(.swiper-pagination-bullet) {
        border: 2px solid var(--text-dark);
        width: 14px;
        height: 14px;
        background: transparent;
        opacity: 0.1;
        position: relative;

        &:hover {
          opacity: 1;
          border: 2px solid var(--main-color);
        }

        &:global(.swiper-pagination-bullet-active) {
          opacity: 1;
          border: 2px solid var(--main-color);

          &::before {
            width: 4px;
            height: 4px;
            content: "";
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            background-color: var(--main-color);
            transition: all 0.3s;
            border-radius: 50%;
          }
        }
      }
    }
  }
}