.priefCollection {
  margin: 50px 0;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--heavy-border);

    h5 {
      color: var(--main-color);
      font-weight: 600;
    }

    button {
      background-color: transparent;
      border: 1px solid var(--heavy-border);
      padding: 1px 8px;
      border-radius: 10px;
      cursor: pointer;
      margin: 0 2px;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}