@import '../../../styles/mixins.scss';
@import '../../../styles/extends.scss';

.header {
  .header_wrapper {
    background-color: var(--special-background);
    height: 500px;
    overflow: hidden;

    .categoriesGrid {
      @include md {
        display: none;
      }
    }

    .categoriesList {
      grid-column: span 2;
      grid-row: span 6;
      padding: 20px 0;
      background-color: var(--default-background);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      h6 {
        text-align: center !important;
        background-color: var(--main-color);
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
      }
      li {
        padding: 5px 20px;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-of-type {
          border: none;
        }
        i {
          font-size: 0.85rem;
        }
        &:hover {
          color: var(--main-color);
          font-weight: 600;
        }
      }

      .dropDown {
        position: absolute;
        z-index: 9999;
        bottom: 0;
        left: 100%;
        width: 150%;
        height: 100%;
        background-color: var(--default-background);
        padding: 20px 10px;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        &.ar {
          left: unset;
          right: 100%;
        }
        ul {
          li {
            color: var(--text-color);
            font-weight: 500;
            font-size: 0.9rem;
            border: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        img {
          object-fit: contain;
        }
      }

      @include md {
        display: none;
      }
    }
  }

  .header__slider {
    * {
      direction: ltr !important;
    }
    .slide {
      height: 500px;
      overflow: hidden;
      .label {
        color: var(--main-color);
      }
      .title {
        font-size: 4rem;
        margin-bottom: 20px;
      }
      .price {
        font-size: 3.5rem;
        font-weight: bold;
      }
      button {
        @extend %mainBtn;
        margin-top: 40px;
      }
    }
    img {
      height: 500px;
      object-fit: contain;
    }
    @include sm {
      .slide {
        height: 500px;
        overflow: hidden;
        .label {
          text-align: center !important;
        }
        .title {
          text-align: center !important;
        }
        .price {
          text-align: center !important;
        }
        .btn {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
        }
      }
    }
  }
  @include sm {

    .header_wrapper {
      height: 600px;
    }

    .header__slider {
      .slide {
        height: 600px;
        overflow: hidden;
        padding-top: 50px;
        .label {
          color: var(--main-color);
        }
        .title {
          font-size: 2.8rem;
        }
        .price {
          font-size: 2.2rem;
          font-weight: bold;
        }
        button {
          margin-top: 20px;
        }
      }
      img {
        height: 300px;
        object-fit: contain;
      }
    }
  }

  .announs {
    margin-top: 20px;
    margin-bottom: 50px;
    .announs_box {
      background-color: var(--special-background);
      padding: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
      p {
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--main-color);
        margin-top: 15px;
      }
    }
  }
}