.collection {
    h2 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 16px;
        margin-bottom: 8px;
        margin-top: 0px;
        text-align: center !important;
    }

    .headingSpacer {
        width: 10px;
        margin: 0px auto 17px;
        border-top: 2px solid #e13b3f;
    }
}