// IMPORTING GLOBAL VARIABLES AND MIXINS
@import "../../../styles/mixins.scss";
@import "../../../styles/extends.scss";

.lang {
  display: flex;
  align-items: center;
  margin: 0 10px;

  h6 {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  i {
    margin: 0 10px;
    cursor: pointer;
    color: #fff
  }

  .dropdown {
    @extend %dropdown;
  }
}

.headerDropdown {
  position: relative;
  line-height: 1.5;
  padding: 5px 0;
  cursor: pointer;
  span {
    ::after {
      content: "";
      font-family: "porto";
      font-weight: 400;
      margin-left: 0.5rem
    }
  }

}