.collection {
  background-color: var(--secondary-background);
  padding: 30px 20px;
  margin: 20px 0;

  .offer {
    display: grid;
    place-content: center;
    height: 100%;

    h3 {
      text-align: center !important;

      span {
        color: var(--secondary-color);
        font-size: 1.5rem;
      }
    }
  }
}