.post {


    .postMedia {
        position: relative;
        border-radius: 0;


        img {
            transition: transform 0.2s;
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        .prodFullScreen {
            display: flex;
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: var(--main-color);
            color: #fff;
            border-radius: 50%;
            position: absolute;
            transition: all 0.5s;
            outline: none;
            opacity: 0;
            z-index: 1;
            right: 5px;
            bottom: 5px;
            cursor: pointer;
        }

        &:hover {
            .prodFullScreen {
                opacity: 1;
            }
        }

    }

    .postBody {
        margin-left: 0;
        padding-bottom: 2.1rem;
        border: 0;
        line-height: 24px;

        .postMeta {
            margin-bottom: 18px;
            font-size: 11px;
            text-transform: uppercase;

            span {
                margin-right: 5px;
            }

            span:not(:first-of-type) {
                color: var(--main-color);

                a {
                    color: var(--main-color);

                }
            }

            i {
                margin-right: 7px;
            }
        }

        h2 {
            margin-top: 0;
            margin-bottom: 19px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.35;
            color: var(--text-dark);

            a {
                color: var(--text-dark);
            }
        }

        .postContent {
            font-size: 13px;
            letter-spacing: 0.03em;
            line-height: 1.9;

            p {
                margin-bottom: 15px;
                line-height: 25px;
                letter-spacing: -0.028em;
                font-size: 14px;
            }

            .readMore {
                float: left;
                color: var(--main-color);
                font-size: 13px;
                font-weight: 700;
                letter-spacing: -0.025em;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}