// IMPORTING GLOBAL VARIABLES AND MIXINS
@import "../../../styles/mixins.scss";
@import "../../../styles/extends.scss";

.lang {
  display: flex;
  align-items: center;
  margin: 0 10px;

  img {
    width: 25px;
    height: 20px;
    border-radius: 3px;
    margin: 0 10px;
  }

  h6 {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  i {
    margin: 0 10px;
    cursor: pointer;
    color: #fff
  }

  .dropdown {
    @extend %dropdown;
  }
}

.headerDropdown {
  position: relative;
  line-height: 1.5;
  padding: 5px 0;
  cursor: pointer;
  span {
    padding: 0 5px;
  }
  img {
    display: inline-block;
    max-width: none;
    margin: -2px 6px 0 1px !important;
    width: 16px;
    height: 11px;
  }
}