.collection {
  .head {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: var(--hover-main-color);
      border: none;
      color: var(--main-color);
      padding: 8px 25px;
      border-radius: 20px;
      font-size: 0.9rem;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}