.category {
    position: relative;
    height: 100%;
    a {
        height: 100%;
        display: block;
        
        figure {
            height: 100%;

            img {
                object-fit: cover;
            }

        }

        .categoryContent {
            h3 {
                font-size: 14px;
                margin: 0;
            }
            position: absolute;
            left: 0;
            bottom: 0;
            background: #282828;
            font-size: 17px;
            padding: 15px 23px;
            color: #fff;
        }
    }
}