.categories {
  h4 {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    position: relative;
    display: flex;
    span {
      position: absolute;
      bottom: -2px;
      height: 3px;
      width: 100px;
      background-color: var(--main-color);
    }
  }
  .category {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    background-color: var(--secondary-background);
    padding: 5px 10px;

    img {
      width: 100px;
    }

    p {
      font-size: 0.9rem;
    }

    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes moving {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}