@import '../../../styles/extends.scss';

.sale {
  position: relative;
  padding: 50px 50px 0;
  background-image: url('../../../public/imgs/gameBack.jpg');
  color: #fff;

  img {
    height: 250px;
    position: relative;
    object-fit: fill;
    top: 60px;

    @include md {
      display: none;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      opacity: 0.8;
      font-size: 0.9rem;
    }

    h2 {
      text-align: center !important;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

      button {
        @extend %mainBtn;
        padding: 7px 20px;
        font-size: 0.9rem;
        font-weight: 600;
      }

      a {
        color: #fff;
        text-decoration: underline;
        font-size: 0.9rem;
      }
    }
  }

  @include md {
    padding: 50px;
  }

  @include xs {
    padding: 50px 20px;
    background-image: none;
    background-color: #161616;
  }
}