.categoriesCarousel {
    padding: 0 0 40px;

    h2 {
        margin-bottom: -1px;
        font-size: 22px;
        text-transform: uppercase;
        color: var(--text-dark);
        text-align: center !important;
    }

    p {
        margin-bottom: 26px;
        font-size: 14px;
        text-align: center !important;
    }

}