.banner {
    position: relative;
    font-size: 16px;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;

    figure {
        margin: 0;
        width: 100%;

        img {
            height: auto;
            object-fit: cover;
            width: 100%;
            display: block;
            max-width: 100%;
        }
    }

    .bannerLayer {
        margin-top: -1px;
        margin-right: -2px;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 6%;
        text-align: right !important;
        -ms-flex-align: end !important;
        align-items: flex-end !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        display: -ms-flexbox !important;
        display: flex !important;

        h3 {
            font-size: 36px;
            color: #fff;
            line-height: 1;
            margin-bottom: 16px !important;
            text-align: right !important;
            font-weight: 500;
            text-transform: uppercase;
            font-weight: 600;
        }

        .couponSaleContent {

            h4 {
                padding: 10px 13px 10px;
                font-size: 18px;
                transform: rotate(-2deg);
                line-height: 1;
                margin-bottom: 10px !important;
                background-color: #fff !important;
                display: block !important;
                color: var(--text-dark);
            }

            h5 {
                margin-bottom: 14px;
                font-size: 16px;
                line-height: 1;
                transform: rotate(-2deg);
                position: relative;
                display: inline-block;
                color: #fff !important;

                i {
                    position: absolute;
                    left: -24px;
                    top: 50%;
                    transform: translateY(-50%) rotate(-90deg);
                    font-size: 10px;
                    font-style: normal;
                    opacity: 0.6;
                    letter-spacing: 0;
                }

                b {
                    display: inline-block;
                    padding: 5px 8px;
                    font-size: 26px;
                    background-color: #fff;
                    color: var(--text-dark);
                    font-weight: 500;
                }
            }

            a {
                padding: 16px 0;
                font-size: 14px;
                width: 158px;
                font-weight: 600;
                letter-spacing: 0.012em;
                border-color: var(--text-dark);
                background-color: #0e0f11;
                color: #fff;
                display: block;
                text-align: center !important;
            }
        }

    }
}