@import "./mixins.scss";
@import "./variables.scss";
@import url('https://fonts.cdnfonts.com/css/poppins');

@font-face {
  font-family: "porto";
  src: url("../public/font/porto.eot?64334846");
  src: url("../public/font/porto.eot?64334846#iefix") format("embedded-opentype"), url("../public/font/porto.woff2?64334846") format("woff2"), url("../public/font/porto.woff?64334846") format("woff"), url("../public/font/porto.ttf?64334846") format("truetype"), url("../public/font/porto.svg?64334846#porto") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap
}

/***************  { General Styles For Elements }   *****************/
$h1: 2rem;
$h2: 1.714rem;
$h3: 1.5rem;
$h4: 1.286rem;
$h5: 1.07rem;
$h6: 1rem;
$p: 1rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// *:not(img):not(i):not(.MuiTooltip-popper):not(.MuiTooltip-popper *) {
//   transition: all 0.2s ease-in-out;
// }

html,
body {
  height: 100vh;
  // font-family: IBMPlexSansArabic;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--default-background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  // transition: all 0.2s ease-in-out;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: var(--head-font);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/********************************************************************************/

/********************* Adjusting Font Sizes For All Screens *********************/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}


/****** Medium Screen ******/
@include md {

  span,
  p {
    font-size: 15px;
  }
}

@include xs {

  span,
  p {
    font-size: 14px;
  }
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

/*****************************************\ Selection Reset \**************************************/

::selection {
  background: var(--main-color);
  color: #fff;
}

::-moz-selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  height: 7px;
  background-color: var(--main-color);
}

#ar {
  * {
    direction: rtl;
    text-align: right;
  }
}

#en {
  * {
    direction: ltr;
    text-align: left;
  }
}

// HOME MULTI CAROUSEL COMPONENT STYLES
.react-multiple-carousel__arrow--left {
  left: -10px !important;
}

.react-multiple-carousel__arrow--right {
  right: -10px !important;
}

// QUICK VIEW MULTI CAROUSEL COMPONENT STYLES
.thumbnails {

  // padding: 0 50px;
  .react-multiple-carousel__arrow--left {
    background-color: var(--secondary-background);
    // background-color: transparent;
    height: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;

    &::before {
      font-size: 15px;
      font-weight: bold;
      border-radius: 0;
      text-align: center !important;
      color: var(--text-color);
      margin: 2px;
      left: -2px;
    }
  }

  .react-multiple-carousel__arrow--right {
    background-color: var(--secondary-background);
    // background-color: transparent;
    height: 100%;
    border-radius: 0;
    padding: 0;
    width: 5px;

    &::before {
      font-size: 15px;
      font-weight: bold;
      border-radius: 0;
      text-align: center !important;
      color: var(--text-color);
      right: -2px;
    }
  }
}

// CATEGORY PAGE SLIDER GLOBAL STYLES
.MuiSlider-track {
  height: 6px;
}

// PAGINATION SELECTED PAGE GLOBAL STYLES
.pagination {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-background);
  min-width: 300px;
  max-width: 400px;
  width: auto;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  div {
    color: var(--text-color);
  }

  button {
    box-shadow: none;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--text-color);

    &.Mui-selected {
      background-color: var(--main-color);
      color: #fff;
      border: 1px solid var(--main-color);

      &:hover {
        background-color: var(--main-color);
        color: #fff;
        border: 1px solid var(--main-color);
      }
    }

    &:hover {
      background-color: var(--main-color);
      color: #fff;
      border: 1px solid var(--main-color);
    }
  }

  @include xs {
    transform: scale(0.9);
    padding: 10px 0;

    button {
      font-size: 0.8rem;
      margin: 0 !important;
    }
  }
}

// SWEET ALERT GLOBAL STYLES
body.swal2-shown {
  padding: 0 !important;
}

button.swal2-confirm {
  background-color: var(--main-color);
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-background);
    color: var(--main-color);
  }
}

button.swal2-cancel {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  position: relative;
  color: var(--text-color) !important;
  top: 3px;
  border-radius: 20px;
  font-size: 17px;
  margin: 0 5px;
  font-weight: 500;
  cursor: pointer;
  color: var(--main-color);

  &:hover {
    background-color: var(--secondary-background);
    color: var(--main-color);
    text-decoration: underline;
  }
}

@include sm {
  .swal2-popup {
    .swal2-icon {
      transform: scale(0.9);
    }

    h2 {
      font-size: 24px;
    }

    div {
      font-size: 18px;
    }
  }
}

@include xs {
  .swal2-popup {
    .swal2-icon {
      transform: scale(0.8);
    }

    h2 {
      font-size: 20px;
    }

    div {
      font-size: 17px;
    }
  }
}

.Toastify__toast-container {
  z-index: 99999;
}

// MUI5 DATE PICKER GLOBAL STYLES
.MuiCalendarPicker-root {
  background-color: var(--secondary-background);

  button {
    background-color: var(--default-background);
    color: var(--text-color);
  }

  span {
    color: var(--text-color);
  }
}

.rdrCalendarWrapper {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.ar .rdrCalendarWrapper {
  right: unset;
  left: 0;
  direction: ltr !important;

  & * {
    direction: ltr !important;
  }
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 80%;

  img {
    width: 150px;
    height: 150px;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  h6 {
    color: var(--text-color);
    opacity: 0.9;
    font-size: 1.2rem;
  }

  @include sm {
    img {
      width: 80px;
      height: 80px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

.smallEmpty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 80%;

  img {
    width: 100px;
    height: 100px;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  h6 {
    color: var(--text-color);
    opacity: 0.9;
    font-size: 1rem;
  }

  @include sm {
    img {
      width: 80px;
      height: 80px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

// HOME HEADER SLIDER GLOBAL STYLES
.header__slider {
  .carousel {
    .slide {
      &.selected {
        h5 {
          animation: showLabel 1s ease-in-out;
        }

        h1 {
          animation: showTitle 1s ease-in-out;
        }

        p {
          animation: showTitle 1s ease-in-out;
        }

        button {
          animation: showButton 1s ease-in-out;
        }

        img {
          animation: showImage 1s ease-in-out;
        }

        .aboutOffer {
          animation: showDiv 1s ease-in-out;

          p {
            animation: showDiv 1s ease-in-out;
          }

          h5 {
            animation: unset;
          }
        }
      }
    }

    .control-dots {
      transform: translateY(-0px);

      li {
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 1;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;

        &.selected {
          background-color: var(--main-color);
          width: 30px;
          border-radius: 5px;
        }
      }
    }
  }
}

.header__slider {
  .slide {
    h5 {
      animation: showLabel 1s ease-in-out;
    }

    h1 {
      animation: showTitle 1s ease-in-out;
    }

    p {
      animation: showTitle 1s ease-in-out;
    }

    button {
      animation: showButton 1s ease-in-out;
    }

    img {
      animation: showImage 1s ease-in-out;
    }

    .aboutOffer {
      animation: showDiv 1s ease-in-out;

      p {
        animation: showDiv 1s ease-in-out;
      }

      h5 {
        animation: unset;
      }
    }
  }
}

@keyframes showLabel {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showTitle {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes showButton {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showImage {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showDiv {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  background-color: #f2f2f2;
  color: var(--main-color) !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  &:after {
    font-size: 1rem !important;
    font-weight: 600;
  }

  &.swiper-button-prev {
    transform: translateX(-6px);
  }

  &.swiper-button-next {
    transform: translateX(6px);
  }

  &:hover {
    background-color: var(--main-color);

    &:after {
      color: #fff;
    }
  }

  @include xs {
    width: 35px;
    height: 35px;

    &:after {
      font-size: 0.8rem;
    }
  }
}

.quantityArea {
  display: flex;
  align-items: center;
  gap: 5px;

  input {
    width: 70px;
    height: 40px;
    text-align: center !important;
    // border: 1px solid var(--special-background);
    border: none;
    outline: none;
    background-color: var(--secondary-background);
    border-radius: 20px;
    font-weight: 600;
    padding: 0 0 0 10px;
    text-align: center !important;

    &.ar {
      padding: 0 17px 0 0px;
    }
  }

  button {
    width: 40px;
    height: 40px;
    text-align: center !important;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
  }
}

.mainTitle {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;

  span {
    position: absolute;
    width: 20%;
    max-width: 100px;
    height: 5px;
    background-color: var(--main-color);
    bottom: -3px;
    left: 0;
    border-radius: 5px;
  }

  &.ar {
    span {
      left: unset;
      right: 0;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.customSliderArrows {
  position: relative;

  .custom-swiper-next,
  .custom-swiper-prev {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 9;
    border: none;
    outline: none;
    cursor: pointer;

    i {
      font-size: 3rem;

      @include xs {
        font-size: 2rem;
      }
    }

    @include md {
      top: 90%;
    }
  }

  .custom-swiper-next {
    right: 3%;
  }

  .custom-swiper-prev {
    left: 3%;
  }
}

.plainArrows {

  .swiper-button-next,
  .swiper-button-prev {
    background-color: transparent;
    box-shadow: none;

    &:after {
      color: #d0cfcf;
    }
  }
}

.thumbs {
  .swiper-slide-active {
    .thumb {
      border-color: var(--main-color) !important;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
}

.centerBullets {
  padding: 5px 0 !important;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5px !important;
  }
}

.centerBullets2 {
  padding: 5px 0 !important;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -20px !important;
  }
}

.centerBullets3 {
  height: 100%;

  .swiper-pagination {
    display: flex;
    max-width: 100px;
    margin: auto;
    // margin-left: 45%;
    position: relative;
    justify-content: center;
    bottom: 35px !important;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 20px;
  }
}

.bottomBullets {
  height: 100%;

  .swiper-pagination {
    position: relative;
    bottom: 40px !important;
    margin: 0 20px;
  }
}

.bottomBullets2 {
  .swiper-pagination {
    bottom: 10px !important;
    margin: 0 50px;

    @include xs {
      margin: 0 20px;
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes detailsAppear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animatedSwiper {
  .swiper-slide-active {
    img {
      animation: appear 1.5s forwards;
    }

    .details {
      animation: detailsAppear 1.5s forwards;
    }
  }
}