.banner {
    position: relative;
    font-size: 16px;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;

    &:hover {
        img {
            box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.08);
        }
    }

    figure {
        margin: 0;
        width: 100%;

        img {
            height: auto;
            object-fit: cover;
            width: 100%;
            display: block;
            max-width: 100%;
            transition: all 0.25s linear;
        }
    }

    .bannerLayer {
        left: 9%;
        right: 9%;
        bottom: 8%;
        border: 5px solid var(--text-dark);
        padding: 44px 2px 45px;
        position: absolute;
        text-align: center !important;

        h3 {
            font-size: 22px;
            line-height: 1;
            letter-spacing: -0.05em;
            margin-bottom: 8px !important;
            color: var(--text-dark);
            text-align: center !important;
        }

        h4 {
            margin-bottom: 5px;
            line-height: 1;
            font-weight: 400;
            font-size: 15px;
            text-align: center !important;
        }
        a {
            position: absolute;
            left: 15%;
            right: 15%;
            background-color: var(--text-dark);
            border-color: var(--text-dark);
            color: var(--text-light);
            font-size: 12px;
            padding: 12px 25px;
            font-weight: 600;
            bottom: -25px;
            text-align: center !important;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}