.swiper {
    margin-top: -1px;
    padding-top: 55px;
    padding-bottom: 60px;
    background-color: var(--bg-alt-color);
    text-align: center !important;
    
    .title {
        margin-bottom: -1px;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center !important;
        color: var(--text-dark);
        line-height: 1.5;
    }

    .description {
        font-size: 14px;
        margin-bottom: 50px !important;
        text-align: center !important;
    }

    :global(.swiper-pagination) {
        margin: 16px;
        position: absolute;
        bottom: 0px;
        text-align: center !important;
        margin: 20px 0 0;

        :global(.swiper-pagination-bullet) {
            border: 2px solid var(--text-dark);
            width: 14px;
            height: 14px;
            background: transparent;
            opacity: 0.1;
            position: relative;

            &:hover {
                opacity: 1;
                border: 2px solid var(--main-color);
            }

            &:global(.swiper-pagination-bullet-active) {
                opacity: 1;
                border: 2px solid var(--main-color);

                &::before {
                    width: 4px;
                    height: 4px;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    background-color: var(--main-color);
                    transition: all 0.3s;
                    border-radius: 50%;
                }
            }
        }
    }

    .showMore {
        margin-bottom: 6px;
        margin-top: 24px;
        padding: 14px 36px;
        min-width: 160px;
        color: #fff;
        font-size: 14px;
        border: 0;
        background-color: #2a2e32;
        display: inline-block;
    }

}