@import url('https://fonts.cdnfonts.com/css/savoye-let');
@import "../../../styles/mixins.scss";

$sliderOneColor1: var(--text-dark);
$sliderOneColor12: var(--text-light);
$sliderTwoColor1: var(--text-dark);
$sliderTwoColor2: #ff7272;
$sliderOneBadge: #ff7272;

.slider {
    margin-bottom: 20px;
    img {
        min-height: 510px;
        object-position: center center;
        object-fit: cover;
        max-width: 100%;

        @include md {
            min-height: 400px;
        }
        @include sm {
            min-height: 300px;
        }
        @include xs {
            min-height: 200px;
        }
    }

    .slide1 {
        position: relative;


        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 7%;
            right: 6%;
            top: 50%;
            transform: translateY(-50%);

            h4 {
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 0.08em;
                opacity: 0.7;
                padding-bottom: 14px;
                color: $sliderOneColor1;
                margin: 0;

                @include sm {
                    font-size: 16px;
                }
                @include xs {
                    font-size: 14px;
                }
            }

            h2 {
                font-size: 62px;
                letter-spacing: 0.002em;
                color: $sliderOneColor1;
                font-family: 'Savoye LET', sans-serif;
                line-height: 1;
                margin: 0;
                @include sm {
                    font-size: 40px;
                }
                @include xs {
                    font-size: 30px;
                }
            }

            h3 {
                font-size: 74px;
                margin-bottom: 16px !important;
                line-height: 1;
                color: $sliderOneColor1;
                text-transform: uppercase !important;
                @include sm {
                    font-size: 60px;
                }
                @include xs {
                    font-size: 30px;
                }

                em {
                    display: inline-block;
                    font-size: 45%;
                    font-weight: inherit;
                    font-style: normal;
                    line-height: 1.1;
                    margin-right: 0.2em;
                    text-align: center;
                }
            }

            h5 {
                margin-right: -2px;
                font-size: 14px;
                margin-top: -4px;
                line-height: 1;
                color: $sliderOneColor1;
                display: inline-block !important;
                text-transform: uppercase !important;
                margin: 0;
                vertical-align: text-bottom !important;
                
                b {
                    color: $sliderOneColor12;
                    background-color: $sliderOneBadge;
                    position: relative;
                    padding: 4px 8px;
                    margin: 0 6px 0 12px;
                    font-size: 15px;
                    transform: rotate(-2deg);
                    display: inline-block;
                    font-weight: 600;
                    
                    
                    em {
                        font-size: 29px;
                        font-style: normal;
                        vertical-align: text-top !important;
                        @include sm {
                            font-size: 20px;
                        }
                    }

                }
                @include xs {
                    display: none !important;
                }
            }

            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: var(--text-light);
                box-shadow: none;
                font-size: 15px;
                padding: 15px 40px 18px;
                @include sm {
                    font-size: 14px;
                    padding: 8px 20px 9px;

                }
            }
        }
    }

    .slide2 {
        position: relative;

        .bannerLayer {
            position: absolute;
            padding-bottom: 3px;
            left: 7%;
            right: 6%;
            top: 50%;
            transform: translateY(-50%);

            h2 {
                font-size: 39px;
                font-weight: 500;
                color: $sliderTwoColor1;
                margin: 0;
                @include sm {
                    font-size: 26px;
                }
                @include xs {
                    font-size: 16px;
                }
            }

            h3 {
                font-size: 98px;
                font-weight: 700;
                color: $sliderTwoColor1;
                margin: 0;
                @include sm {
                    font-size: 70px;
                }
                @include xs {
                    font-size: 40px;
                }
                em {
                    display: inline-block;
                    font-size: 45%;
                    font-weight: inherit;
                    font-style: normal;
                    line-height: 1.1;
                    margin-right: 0.2em;
                    text-align: center;
                }

            }

            h5 {
                font-size: 16px;
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase !important;
                color: $sliderTwoColor1;
                display: inline-block;

                span {
                    font-size: 20px;
                    font-weight: 700;
                    color: $sliderTwoColor2;
                    padding-right: 30px;
                    margin-right: 30px;
                    margin-left: 5px;
                    @include sm {
                        font-size: 16px;
                    }

                    em {
                        font-size: 40px;
                        font-style: normal;
                        vertical-align: middle;
                        position: relative;
                        top: 1px;
                        @include sm {
                            font-size: 26px;
                        }
                    }
                }
            }

            .btn {
                border-color: var(--text-dark);
                background-color: var(--text-dark);
                color: var(--text-light);
                box-shadow: none;
                font-size: 16px;
                font-weight: 700;
                padding: 20px 68px 20px;
                @include sm {
                    display: inline-block;
                padding: 10px 50px 10px;
                }
            }
        }
    }

    :global(.swiper-button-prev) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        left: 50px;
        display: none;
        text-align: center !important;
        @include xs {
            left: 10px;
        }
        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
            @include xs {
                font-size: 12px !important;
            }
        }
    }

    :global(.swiper-button-next) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: $sliderOneColor1 !important;
        right: 50px;
        display: none;
        text-align: center !important;
        @include xs {
            right: 10px;
        }
        &::after {
            color: $sliderOneColor1 !important;
            font-size: 1.5rem !important;
            @include xs {
                font-size: 12px !important;
            }
        }

    }

    &:hover {
        :global(.swiper-button-prev) {
            display: block;
        }

        :global(.swiper-button-next) {
            display: block;
        }
    }
}