.categoriesCarousel {
  padding: 30px 0 30px;

  .sectionTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    color: var(--text-dark);
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-transform: none;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
}