@import '../../../styles/mixins.scss';

.newsletterBanner {
    margin: 40px 0;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    padding: 0 16px 10px;
    .container {
        display: flex;
        @include md {
            display: block;
        }

        .leftSec {
            flex: 1;
    
            .text {
                padding: 3px 10px 0;
                display: flex !important;
                justify-content: flex-start !important;
                align-items: center !important;
                text-align: left !important;
    
               
    
                i {
                    margin: 0 15px 0 0;
                    font-size: 45px;
                    color: var(--bg-color) !important;
    
                    @include xs {
                        margin: 0;
                    }
                }
    
                .newsletterContent {
                    h3 {
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--bg-color);
                        margin: 0;
    
                        @include xs {
                            text-align: center !important;
                        }
                    }
    
                    p {
                        font-size: 13px;
                        letter-spacing: 0.005em;
                        line-height: 1.3;
                        color: var(--bg-color);
                        margin: 0;
    
                        @include xs {
                            text-align: center !important;
                        }
                    }
    
                }
            }
        }
    
    
        form {
            margin: 10px 0;
            justify-content: center !important;
            display: flex !important;
            width: 100%;
            max-width: 650px;
    
            input {
                padding: 0px 24px 2px 24px;
                height: 48px;
                font-weight: 300;
                font-size: 12px;
                font-style: italic;
                letter-spacing: 0.02em;
                border-radius: 24px 0 0 24px;
                background-color: var(--bg-color);
                border: 1px solid var(--bg-color);
                width: 100%;
                outline: none;
            }
    
            button {
                height: 48px;
                padding: 0 35px 3px 35px;
                border: 0;
                background: var(--bg-color);
                color: var(--text-dark);
                border-radius: 0 24px 24px 0;
                font-size: 14px;
                font-weight: 700;
                min-width: 135px;
                cursor: pointer;
            }
        }
    
        .socialIcon {
            background: var(--bg-color);
            margin: 2px ;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            text-align: center !important;
    
            +.socialIcon {
                margin-left: 28px;
            }
    
            &:hover {
                color: var(--bg-color);
    
                &.socialFacebook {
                    background-color: #3b5a9a;
                }
    
                &.socialTwitter {
                    background-color: #1aa9e1;
                }
    
                &.socialLinked {
                    background-color: #0073b2;
                }
            }
        }
    }


}