@import "../../../styles/mixins.scss";
.container {
    margin-top: 20px;
}
.collectionContainer {
    background-color: #fbfbfb;
    margin-top: 24px;
    padding-top: 50px;
    padding-bottom: 32px;
}